<extend name="Public/common" />
<block name="body">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>添加退回:Step3</h5>
            <div class="ibox-tools" style="display:none;">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">选项1</a>
                    </li>
                    <li><a href="#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lt">
                <form id="formParme">
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">用户属组</div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled value="{$user_name}--{$group_name}">
                        </div>
                    </div>
                    <br/>
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">宝贝主图</div>
                        <div class="col-sm-4">
                            <img src="{$huo_data.pic}" alt="" style="height:60px; ">
                            <input type="hidden" value="{$ku_data.id}" name="ku_id" id="ku_id">
                        </div>
                    </div>
                    <br/>
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">选择厂家</div>
                        <div class="col-sm-4">
                            <select  name="chang_id" id="chang_id" class="form-control">
                                <option value="0">选择对应厂家</option>
                                <foreach name="changjia" item="onecate">
                                    <option value="{$onecate.id}">{$onecate.cname}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">退回类型</div>
                        <div style="width: 78px;float: left;line-height:42px;margin-left: 10px;">
                            现金退回
                        </div>
                        <div class="col-sm-1">
                            <input type="radio" class="form-control"  value="1" name="state">
                        </div>
                        <div style="width: 78px;float: left;line-height:42px;">
                            下回抵扣
                        </div>
                        <div class="col-sm-2">
                            <input type="radio" class="form-control"  value="2" name="state" checked>
                        </div>
                    </div>
                    <br/>
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">退回数量</div>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="num" value="1" name="num">
                            <input type="hidden" id="max_ku_num" value="{$ku_data.num}">
                        </div>
                    </div>
                    <br/>
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">退回单价</div>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" value="0.00" price="{$huo_data.jin_price}" name="price" id="price">
                        </div>
                    </div>
                    <br/>
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">退回备注</div>
                        <div class="col-sm-4">
                            <textarea name="info" class="form-control" id="" cols="30" rows="3"></textarea>
                        </div>
                    </div>
                    <br/>
                    <div style="overflow: hidden;clear: both">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">&nbsp;</div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary btn-lg" id="add_kucun" type="button">确认添加</button>
                            <button class="btn btn-default btn-lg" id="go_back" type="button">返回上页</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="addCustomer" role="dialog">
        <div class="modal-dialog modal-lt" id="showbox">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $("#cm_size0").change(function () {
            var cm_id1 = $(this).val();
            if(cm_id1 == 0){
                var html = '<option value="0">选择二级尺码</option>';
                $("#cm_id").html(html);
            }else{
                //异步请求
                var html = '';
                var url = "__CONTROLLER__/getSize";
                $.post(url,{cm_id1:cm_id1},function(message){
                    if(message.length>0){
                        for(var i=0;i<message.length;i++){
                            var item = message[i];
                            html += '<option value="'+item.id+'">'+item.cm_name+'</option>';
                        }
                    }else{
                        html = '<option value="0">暂无二级分类</option>';

                    }
                    $("#cm_id").html(html);
                });
            }
        });

        $("#go_back").click(function () {
           window.history.back();
        });
        $("#add_kucun").click(function () {
            var max_num = $("#max_ku_num").val();
            var num =$("#num").val();
            if(num>max_num){
                toastr.warning("最大库存只有:"+max_num);
                return false;
            }
            var chang_id = $("#chang_id").val();
            if(chang_id == 0){
                toastr.warning("请选择厂家");
                return false;
            }
            var parme = $("#formParme").serialize();
            var url ="__CONTROLLER__/suerAddBack";
            $.post(url,parme,function (data) {
                if(data.status == 1){
                    toastr.success(data.info);
                    setTimeout(function () {
                        window.location.href = "{:U('baohuo/backChanjia')}";
                    },1500);
                }else{
                    toastr.warning(data.info);
                }
            });
        });
        $("input[name='state']").click(function () {
            var type = $(this).val();
            if(type == 2){
                $("#price").val('0.00');
            }else{
                var price = $("#price").attr('price');
                $("#price").val(price);
            }
        })
    </script>
</block>