<extend name="Public/common" />
<block name="body">
    <style>
        .huoyuan{
            padding: 0px;margin: 0px;
        }
        .huoyuan li{
            padding: 2px;margin: 0px;border: 1px solid #e1e1e8;width: 180px;margin-right: 14px;float: left;
            list-style: none;height: 200px;margin-bottom: 15px;
        }
        .huoyuan li .pic{width: 100%;height: 176px;}
        .huoyuan li .pic img{width: 100%;height: 176px;}
        .huoyuan li .title{width: 100%;height: 20px;
            line-height:20px;font-size: 12px;text-align: left;overflow: hidden}
    </style>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{$user_name}--{$group_name}添加库存:Step2</h5>
            <div class="ibox-tools" style="display:none;">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">选项1</a>
                    </li>
                    <li><a href="#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lt">
                <ul class="huoyuan">
                    <foreach name="info" item="oneRow">
                        <li>
                            <div class="pic">
                                <a href="{:U('Baohuo/addStep3',array('huo_id'=>$oneRow['id'],'uid'=>$uid,'gid'=>$gid,'cat_id1'=>$cat_id1,'cat_id2'=>$cat_id2))}">
                                    <img src="{$oneRow.pic}"  alt="">
                                </a>
                            </div>
                            <div class="title">
                                {$oneRow.h_name}
                            </div>
                        </li>
                    </foreach>
                </ul>
                <div style="text-align: left;clear: both">{$page}</div>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="addCustomer" role="dialog">
        <div class="modal-dialog modal-lt" id="showbox">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">

    </script>
</block>