<extend name="Public/common" />
<block name="body">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>借出记录</h5>
            <div class="ibox-tools" style="display:none;">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">选项1</a>
                    </li>
                    <li><a href="#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div id="toolbar" style="margin-top: 15px;">
                        <div style="width: 180px;float: left;padding-right: 15px;">
                            <a href="__CONTROLLER__/editNews" target="iframe0" class="btn btn-primary btn-lt">添加资讯</a>
                        </div>
                    </div>

                    <table class="table table-bordered table-hover"  id="table">
                        <tr>
                            <th style="text-align: center">所借用户</th>
                            <th style="text-align: center">用户手机</th>
                            <th style="text-align: center">主图</th>
                            <th style="text-align: center">物品属组</th>
                            <th style="text-align: center">借出时间</th>
                            <th style="text-align: center">归还时间</th>
                            <th style="text-align: center">状态</th>
                            <th style="text-align: center">备注</th>
                        </tr>
                        <foreach name="data" item="onerow">
                        <tr class="row{$onerow.id}">
                            <td style="text-align: center">{$onerow.b_username}</td>
                            <td style="text-align: center">{$onerow.b_mobile}</td>
                            <td style="text-align: center"><img src="{$onerow.pic}" style="width: 45px;height: 45px;"></td>
                            <td class="" style="text-align: center">
                                {$onerow.username}--[{$onerow.groupname}]
                            </td>
                            <td class="" style="text-align: center">{$onerow.c_date|date="Y-m-d H:i:s",###}</td>
                            <td class="" style="text-align: center">{$onerow.h_date|date="Y-m-d H:i:s",###}</td>
                            <td class="" style="text-align: center">
                                <if condition="$onerow.states eq 1">
                                    借出中
                                <else/>
                                    <font color="green">已归还</font>
                                </if>
                            </td>

                            <td class=""  style="text-align: center">
                                <empty name="onerow['info']">
                                    暂无备注
                                    <else/>
                                    <span class="glyphicon glyphicon-envelope" style="color: #337ab7;cursor: pointer" title="{$onerow.info}"></span>
                                </empty>
                            </td>
                        </tr>
                        </foreach>
                    </table>

                    <div class="show_page">
                        {$page}
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="addCustomer" role="dialog">
        <div class="modal-dialog modal-lt" id="showbox">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        var $table = $('#table');
        $(function () {

            $(".delOne").click(function () {
                var id = $(this).attr('ids');
                var url = "__CONTROLLER__/delNews";
                postData(url,{id:id},'post',this);
            });

        });


        $(function () {
            $("#addCustomer").on("hidden.bs.modal", function() {
                $(this).removeData("bs.modal");
                $table.bootstrapTable('refresh', {silent: true});
            });
        });
    </script>
</block>