<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{$sets.site_name}</title>
    <meta name="description" content="{$sets.description}">
    <meta name="keywords" content="{$sets.keyword}">
    <link rel="stylesheet" href="__PUBLIC__/Static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Static/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/toastr.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/sweetalert.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/index.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/news.css" />

    <script type="text/javascript" src='__PUBLIC__/Static/jquery-1.11.2.min.js'></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
    <script>
        // 现在window.$和window.jQuery是1.11版本:
        console.log($().jquery); // => '1.11.0'
        var $jq = jQuery.noConflict(true);
        // 现在window.$和window.jQuery被恢复成1.5版本:
        console.log($().jquery); // => '1.5.0'
        // 可以通过$jq访问1.11版本的jQuery了
    </script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.bgiframe.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.ajaxQueue.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.autocomplete.js"></script>
    <script src="__PUBLIC__/Static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Static/assets/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="__PUBLIC__/Admin/js/toastr.min.js"></script>
    <script src="__PUBLIC__/Admin/js/sweetalert.min.js"></script>
    <script src="__PUBLIC__/Admin/js/layer/laydate/laydate.js"></script>
    <block name="css"></block>
</head>
<body style="background: url('__PUBLIC__/Home/img/bg.jpg') no-repeat; background-size:100% 100%;">
<div class="contain">
    <header class="header">
        <div class="new-head">
            <div class="logo"><img src="__PUBLIC__/Home/img/logo.png"/></div>
            <div class="head_men">
                <nav class="men">
                    <ul>
                        <li><a href="/">首页</a></li>
                        <li class="action"><a href="/news">公司资讯</a></li>
                        <li><a href="/about">关于我们</a></li>
                        <li><a href="/center">个人中心</a></li>
                    </ul>
                </nav>
                <div class="head_right">
                    <div class="ShippingCenter">
                        <i class="icon-regin"></i>
                        <a class="text" href="/logout">退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="new_content" style="margin-bottom: 25px;">
        <div class="caes">
            <div class="Center">

                <div class="caes_title">
                    <h1 class="h1T" data-strid="3">{$newsinfo.title}</h1>
                    <p>
                        发表日期：{$newsinfo.c_date|date="Y-m-d H:i:s",###}  ,  文章来源：{$sets.site_name}
                    </p>
                </div>
                <div class="content-news">
                    <?php echo htmlspecialchars_decode(html_entity_decode($newsinfo['content']));?>
                </div>
                <div style="height:45px;">

                </div>
                <div class="updown">
                    <div class="floatLeft divup"></div>
                    <div class="floatRight divdown"><strong>下一篇：</strong>
                        <notempty name="nextNews">
                            <a href="/detail/{$nextNews.id}.html">{$nextNews.title}</a>
                        </notempty>
                    </div>
                    <div class="clear"></div>
                    <div><strong style="font-size:14px;">{$sets.site_name}</strong></div>
                </div>
                <div class="wrapper related">
                    <h3> 相关信息  </h3>
                    <ul class="ulNews">
                        <foreach name="randNews" item="two_val">
                            <li><a href="/detail/{$two_val.id}.html">{$two_val.title}</a><span>({$two_val.c_date|date="Y-m-d",###})</span></li>
                        </foreach>

                    </ul>
                </div>
                <!--page_menu -->
            </div>
            <div class="clear"></div>
            <!--Center -->
        </div>
    </div>


    <footer class="footer">
        Copyright @ {$sets.site_name}. All Rights Reserved. 2013-2018 <a target="_blank" href="http://icp.alexa.cn/qqzhihuo.com">{$sets.beian}</a>
    </footer>
    <div class="modal fade" id="addModalBox" role="dialog">
        <div class="modal-dialog modal-lt" id="showbox">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

</body>
<script>
    $(function () {
        $("#addModalBox").on("hidden.bs.modal", function() {
            $(this).removeData("bs.modal");
        });
    });
</script>
<block name="js"></block>

</html>
