<extend name="Public/base" />

<block name="css">
    <style>
        .choose_cat{
            margin-top: 20px;
            margin-left: 100px;
            width: 450px;
            text-align: left;
        }
        .choose_cat .title{
            font-weight: bolder;
            font-size: 22px;
            margin-bottom:65px;
        }
    </style>
</block>
<block name="content">
    <form id="userForm">
   <div class="choose_cat form-horizonta" style="margin-top: 45px;">
       <p style="line-height: 60px;font-size: 22px;margin-left: 13px;font-weight: bolder">添加成员</p>
       <div class="form-group">
           <label for="cat_id1" class="col-sm-3 control-label">登录手机</label>
           <div class="col-sm-9">
               <input type="number" name="mobile" class="form-control">
           </div>
       </div>
       <hr class="hr15"/>
       <div class="form-group">
           <label for="cat_id2" class="col-sm-3 control-label">用户名字</label>
           <div class="col-sm-9">
               <input type="text" name="user_name" class="form-control">
           </div>
       </div>
       <hr class="hr15"/>
       <div class="form-group">
           <label for="cat_id2" class="col-sm-3 control-label">登录密码</label>
           <div class="col-sm-9">
               <input type="text" name="password" class="form-control" value="123456">
           </div>
       </div>
       <hr class="hr15"/>
       <div class="form-group">
           <label for="" class="col-sm-3 control-label">&nbsp;</label>
           <div class="col-sm-9">
              <span class="btn btn-info btn-lt" onclick="checkForm()">添加组员</span>
           </div>
       </div>
   </div>
    </form>
</block>

<block name="js">
    <script>
        function checkForm() {
            var url = "{$self}";
            var parme = $("#userForm").serialize();
            $.post(url,parme,function (data) {
                if(data.status == 1){
                    //保存成功
                    swal({
                        title:"保存成功",
                        text:data.info,
                        type:"success"
                    },function(){
                        window.location.href = "__CONTROLLER__/index";
                    });
                }else{
                    toastr.warning(data.info);return false;
                }
            });
        }
    </script>
</block>
