<extend name="Public/base" />


<block name="content">
    <if condition="$session_user['level'] eq 1">
    <div style="text-align: left;margin-bottom: 13px;">
        <a class="btn btn-info btn-lt" href="__CONTROLLER__/addMember">添加组员</a>
    </div>
    </if>
    <ul class="nav nav-tabs">
        <li style="width:120px" class="active" ><a href="{:U('member/index')}">组员列表</a></li>
        <li style="width:120px" ><a href="{:U('member/address')}">发货地址</a></li>
    </ul>

    <table class="table table-bordered table-hover"  id="table">
        <thead>
        <tr>
            <th style="text-align: center">编号</th>
            <th style="text-align: center">会员手机</th>
            <th style="text-align: center">会员名称</th>
            <th style="text-align: center">级别</th>
            <th style="text-align: center">状态</th>

        </tr>
        </thead>
        <tbody>
        <volist name="info" id="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.mobile}</td>
                <td>{$vo.user_name}</td>
                <td><if condition="$vo['level'] eq 0">组员 <else /> 组长 </if></td>
                <td><if condition="$vo['is_forbid'] eq 0">可用 <else /> 禁用 </if></td>
            </tr>
        </volist>
        </tbody>
    </table>

</block>