<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="oldPass">旧的密码</label>
                <div class="col-sm-6">
                    <input class="form-control" id="oldPass" name="oldPass" type="password" value=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="pass">新的密码</label>
                <div class="col-sm-6">
                    <input class="form-control" id="pass" name="pass" type="password" value=""/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="repass">确认密码</label>
                <div class="col-sm-6">
                    <input class="form-control" id="repass" name="repass"  value="" type="password" />
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭</button>
    <button type="button" class="btn btn-primary" id="submit">保存</button>
</div>
<script type="text/javascript">
    $("#submit").click(function(){
        var parme = {};
        parme.oldPass = $("#oldPass").val();
        parme.pass = $("#pass").val();
        parme.repass = $("#repass").val();
        var url = "__CONTROLLER__/editPass";
        $.post(url,parme,function (data) {
            if(data.status == 1){
                alert(data.info);
                setTimeout(function () {
                    $("#addCustomer").modal('hide');
                },1500);
            }else{
                alert(data.info);
            }
        });

    });
</script>