<extend name="Public/base" />


<block name="content">


    <table class="table table-bordered table-hover"  id="table">
        <thead>
        <tr>
            <th style="text-align: center">货源名称</th>
            <th style="text-align: center">库存数量</th>
        </tr>
        </thead>
        <tbody>
        <volist name="info" id="vo">
            <tr>
                <td>{$vo.huoyuan_name}</td>
                <td>{$vo.num}</td>
            </tr>
        </volist>
        </tbody>
    </table>

</block>