/* ==========================================================================
   Component: Grid
 ============================================================================ */
.am-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 1000px;
    margin-top: 5px;
}
.am-container:before,
.am-container:after {
    content: " ";
    display: table;
}
.am-container:after {
    clear: both;
}
@media only screen and (min-width:641px) {
    .am-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
.am-container > .am-g {
    width: auto;
    margin-left: -1rem;
    margin-right: -1rem;
}
@media only screen and (min-width:641px) {
    .am-container > .am-g {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
}

/**
  * Slider Theme: a1
  */
.am-slider-a1 {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    /* Control Nav */
}
.am-slider-a1 .am-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .am-slider-a1 .am-viewport {
    max-height: 300px;
}
.am-slider-a1 .am-control-nav {
    width: 100%;
    position: absolute;
    bottom: 5px;
    text-align: center;
    line-height: 0;
}
.am-slider-a1 .am-control-nav li {
    margin: 0 6px;
    display: inline-block;
}
.am-slider-a1 .am-control-nav li a {
    width: 8px;
    height: 8px;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.am-slider-a1 .am-control-nav li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.am-slider-a1 .am-control-nav li a.am-active {
    background-color: #0e90d2;
    cursor: default;
}
.am-slider-a1 .am-direction-nav,
.am-slider-a1 .am-pauseplay {
    display: none;
}

/* ==========================================================================
   Component: Flex Slider Plugin
 ============================================================================ */
.am-slider a:hover,
.am-slider a:focus {
    outline: none;
}
.am-slides,
.am-control-nav,
.am-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.am-slider {
    margin: 0;
    padding: 0;
}
.am-slider .am-slides:before,
.am-slider .am-slides:after {
    content: " ";
    display: table;
}
.am-slider .am-slides:after {
    clear: both;
}
.am-slider .am-slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
    position: relative;
}
.no-js .am-slider .am-slides > li:first-child {
    display: block;
}
.am-slider .am-slides img {
    width: 100%;
    display: block;
}
.am-pauseplay span {
    text-transform: capitalize;
}
.am-slider {
    position: relative;
}
.am-viewport {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.am-slider-carousel li {
    margin-right: 5px;
}
.am-control-nav {
    position: absolute;
}
.am-control-nav li {
    display: inline-block;
}
.am-control-thumbs {
    position: static;
    overflow: hidden;
}
.am-control-thumbs img {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.am-slider-slide .am-slides > li {
    display: none;
    position: relative;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .am-slider-slide .am-slides > li {
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
    .am-slider-slide .am-slides > li.next,
    .am-slider-slide .am-slides > li.active.right {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        left: 0;
    }
    .am-slider-slide .am-slides > li.prev,
    .am-slider-slide .am-slides > li.active.left {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        left: 0;
    }
    .am-slider-slide .am-slides > li.next.left,
    .am-slider-slide .am-slides > li.prev.right,
    .am-slider-slide .am-slides > li.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
.am-slider-slide .am-slides > .active,
.am-slider-slide .am-slides > .next,
.am-slider-slide .am-slides > .prev {
    display: block;
}
.am-slider-slide .am-slides > .active {
    left: 0;
}
.am-slider-slide .am-slides > .next,
.am-slider-slide .am-slides > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.am-slider-slide .am-slides > .next {
    left: 100%;
}
.am-slider-slide .am-slides > .prev {
    left: -100%;
}
.am-slider-slide .am-slides > .next.left,
.am-slider-slide .am-slides > .prev.right {
    left: 0;
}
.am-slider-slide .am-slides > .active.left {
    left: -100%;
}
.am-slider-slide .am-slides > .active.right {
    left: 100%;
}


/**
  * Header Theme: default
  */
.am-header-default {
    background-color: #ee394a;
}
.am-header-default .am-header-title {
    color: #fff;
}
.am-header-default .am-header-title a {
    color: #fff;
}
.am-header-default .am-header-icon {
    font-size: 20px;
}
.am-header-default .am-header-nav {
    color: #eeeeee;
}
.am-header-default .am-header-nav > a {
    display: inline-block;
    min-width: 36px;
    text-align: center;
    color: #eeeeee;
}
.am-header-default .am-header-nav > a + a {
    margin-left: 5px;
}
.am-header-default .am-header-nav .am-btn {
    margin-top: 9px;
    height: 31px;
    padding: 0 0.5em;
    line-height: 30px;
    font-size: 14px;
    vertical-align: top;
}
.am-header-default .am-header-nav .am-btn .am-header-icon {
    font-size: inherit;
}
.am-header-default .am-header-nav .am-btn-default {
    color: #999999;
}
.am-header-default .am-header-nav-title,
.am-header-default .am-header-nav-title + .am-header-icon {
    font-size: 14px;
}
.am-intro {
    position: relative;
}
.am-intro img {
    max-width: 100%;
}
.am-intro-hd {
    position: relative;
    height: 45px;
    line-height: 45px;
}
.am-intro-title {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}
.am-intro-more-top {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 1.4rem;
}
.am-intro-bd {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.4rem;
}
.am-intro-bd p:last-child {
    margin-bottom: 0;
}
.am-intro-more-bottom {
    clear: both;
    text-align: center;
}
.am-intro-more-bottom .am-btn {
    font-size: 14px;
}

/* ==========================================================================
   Component: OffCanvas Plugin
 ============================================================================ */
/* Off-canvas overlay and bar container */
.am-offcanvas {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1090;
    background: rgba(0, 0, 0, 0.15);
}
.am-offcanvas.am-active {
    display: block;
}
/**
 * .@{ns}offcanvas-page
 *
 * Prepares the whole HTML page to slide-out
 * 1. Fix the main page and disallow scrolling
 * 2. Side-out transition
 */
.am-offcanvas-page {
    position: fixed;
    /* 1 */
    -webkit-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
    /* 2 */
}
/* Sub-object .@{ns}offcanvas-bar */
.am-offcanvas-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1091;
    width: 270px;
    max-width: 100%;
    background: #333;
    overflow-y: auto;
    /* scrollable */
    -webkit-overflow-scrolling: touch;
    /* scrollable */
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
.am-offcanvas-bar:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background: #262626;
}
.am-offcanvas.am-active .am-offcanvas-bar.am-offcanvas-bar-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
/* .@{ns}offcanvas-bar-flip */
.am-offcanvas-bar-flip {
    left: auto;
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.am-offcanvas-bar-flip:after {
    right: auto;
    left: 0;
}
.am-offcanvas-content {
    padding: 15px;
    color: #999;
}
.am-offcanvas-content a {
    color: #ccc;
}


/**
  * Menu Theme: offcanvas1
  * Author: Minwe (minwe@yunshipei.com)
  */
.am-menu-offcanvas1 .am-menu-toggle {
    position: absolute;
    right: 5px;
    top: -47px;
    display: block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
}
.am-menu-offcanvas1 .am-menu-nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}
.am-menu-offcanvas1 .am-menu-nav > li > a {
    height: 44px;
    line-height: 44px;
    text-indent: 15px;
    padding: 0;
    position: relative;
    color: #ccc;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.am-menu-offcanvas1 .am-menu-nav > .am-open > a,
.am-menu-offcanvas1 .am-menu-nav > li > a:hover,
.am-menu-offcanvas1 .am-menu-nav > li > a:focus {
    background-color: #474747;
    color: #fff;
    outline: none;
}
.am-menu-offcanvas1 .am-menu-nav > .am-active > a {
    background-color: #1a1a1a;
    color: #fff;
}
.am-menu-offcanvas1 .am-menu-nav > .am-parent > a {
    -webkit-transition: all .3s;
    transition: all .3s;
}
.am-menu-offcanvas1 .am-menu-nav > .am-parent > a:after {
    content: "\f104";
    position: absolute;
    right: 1.5rem;
    top: 1.3rem;
}
.am-menu-offcanvas1 .am-menu-nav > .am-parent.am-open > a:after {
    content: "\f107";
}
.am-menu-offcanvas1 .am-menu-sub {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    padding: 5px 0 5px 15px;
    background-color: #1a1a1a;
    font-size: 1.4rem;
}
.am-menu-offcanvas1 .am-menu-sub a {
    color: #eee;
}
.am-menu-offcanvas1 .am-menu-sub a:hover {
    color: #fff;
}
.am-menu-offcanvas1 .am-nav-divider {
    border-top: 1px solid #1a1a1a;
}

/**
  * list_news Theme: default
  */
.am-list-news-default {
    margin: 10px;
}
.am-list-news-default .am-g {
    margin-left: auto;
    margin-right: auto;
}
.am-list-news-default .am-list-item-hd {
    font-weight: normal;
}
.am-list-news-default .am-list-date {
    color: #999999;
}
.am-list-news-default .am-list > li {
    border-color: #dedede;
}
.am-list-news-default .am-list .am-list-item-desced {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.am-list-news-default .am-list .am-list-item-desced > a {
    padding: 0;
}
.am-list-news-default .am-list .am-list-item-desced .am-list-item-text {
    margin-top: 0.5rem;
    color: #757575;
}
.am-list-news-default .am-list .am-list-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    max-height: 2.6em;
}
.am-list-news-default .am-list .am-list-item-thumb-top .am-list-thumb {
    padding: 0;
    margin-bottom: 0.8rem;
}
.am-list-news-default .am-list .am-list-item-thumb-top .am-list-main {
    padding: 0;
}
.am-list-news-default .am-list .am-list-item-thumb-left .am-list-thumb {
    padding-left: 0;
}
.am-list-news-default .am-list .am-list-item-desced .am-list-main {
    padding: 0;
}
.am-list-news-default .am-list .am-list-item-thumb-right .am-list-thumb {
    padding-right: 0;
}
.am-list-news-default .am-list .am-list-item-thumb-bottom-left .am-list-item-hd {
    clear: both;
    padding-bottom: 0.5rem;
}
.am-list-news-default .am-list .am-list-item-thumb-bottom-left .am-list-thumb {
    padding-left: 0;
}
.am-list-news-default .am-list .am-list-item-thumb-bottom-right .am-list-item-hd {
    clear: both;
    padding-bottom: 0.5rem;
}
.am-list-news-default .am-list .am-list-item-thumb-bottom-right .am-list-thumb {
    padding-right: 0;
}
.am-list-news-default .am-list .am-list-thumb img {
    width: 100%;
    display: block;
}
@media only screen and (max-width: 640px) {
    .am-list-news-default .am-list-item-thumb-left .am-list-thumb,
    .am-list-news-default .am-list-item-thumb-right .am-list-thumb {
        max-height: 80px;
        overflow: hidden;
    }
    .am-list-news-default .am-list-item-thumb-bottom-left .am-list-item-text,
    .am-list-news-default .am-list-item-thumb-bottom-right .am-list-item-text {
        -webkit-line-clamp: 3;
        /* number of lines to show */
        max-height: 3.9em;
    }
    .am-list-news-default .am-list-item-thumb-bottom-left .am-list-thumb,
    .am-list-news-default .am-list-item-thumb-bottom-right .am-list-thumb {
        max-height: 60px;
        overflow: hidden;
    }
}
.am-map {
    width: 100%;
    height: 300px;
}

/**
  * Accordion Theme: default
  * Author: Hzp (hzp@yunshipei.com)
  */
.am-map-default #bd-map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    line-height: 1.4!important;
}
.am-map-default .BMap_bubble_title {
    font-weight: bold;
}
.am-map-default #BMap_mask {
    width: 100%;
}
.am-mechat {
    margin: 1rem;
}
.am-mechat .section-cbox-wap .cbox-post-wap .post-action-wap .action-function-wap .function-list-wap .list-upload-wap .upload-mutual-wap {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.am-menu {
    position: relative;
    padding: 0;
    margin: 0;
}
.am-menu ul {
    padding: 0;
    margin: 0;
}
.am-menu li {
    list-style: none;
}
.am-menu a:after,
.am-menu a:before {
    display: inline-block;
    font: normal normal normal 1.6rem/1 "FontAwesome", sans-serif;
    /*font-weight: normal; // 2
    font-style: normal; // 2
    vertical-align: baseline; // 3
    line-height: 1; // 4*/
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.am-menu-sub {
    z-index: 1050;
}
.am-menu-toggle {
    display: none;
    z-index: 1015;
}
.am-menu-toggle img {
    display: inline-block;
    height: 16px;
    width: auto;
    vertical-align: middle;
}
.am-menu-nav a {
    display: block;
    padding: 0.8rem 0;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
}

/**
  * Gotop Theme: default
  */
.am-gotop-default {
    text-align: center;
    margin: 10px 0;
}
.am-gotop-default a {
    background-color: #0e90d2;
    padding: .5em 1.5em;
    border-radius: 0;
    color: #fff;
}
.am-gotop-default a img {
    display: none;
}
/**
  * Gotop Theme: fixed
  */
.am-gotop-fixed {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1010;
    opacity: 0;
    width: 32px;
    min-height: 32px;
    overflow: hidden;
    border-radius: 0;
    text-align: center;
}
.am-gotop-fixed.am-active {
    opacity: .9;
}
.am-gotop-fixed.am-active:hover {
    opacity: 1;
}
.am-gotop-fixed a {
    display: block;
}
.am-gotop-fixed .am-gotop-title {
    display: none;
}
.am-gotop-fixed .am-gotop-icon-custom {
    display: inline-block;
    max-width: 30px;
    vertical-align: middle;
}
.am-gotop-fixed .am-gotop-icon {
    width: 100%;
    line-height: 32px;
    background-color: #555555;
    vertical-align: middle;
    color: #ddd;
}
.am-gotop-fixed .am-gotop-icon:hover {
    color: #fff;
}
.am-with-fixed-navbar .am-gotop-fixed {
    bottom: 60px;
}
.am-header {
    position: relative;
    width: 100%;
    height: 49px;
    line-height: 49px;
    padding: 0 10px;
}
.am-header h1 {
    margin-top: 0;
    margin-bottom: 0;
}
.am-header .am-header-title {
    margin: 0 30%;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    display: block;
    word-wrap: normal;
    /* for IE */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.am-header .am-header-title img {
    margin-top: 12px;
    height: 25px;
    vertical-align: top;
}
.am-header .am-header-nav {
    position: absolute;
    top: 0;
}
.am-header .am-header-nav img {
    height: 16px;
    width: auto;
    vertical-align: middle;
}
.am-header .am-header-left {
    left: 10px;
}
.am-header .am-header-right {
    right: 10px;
}
.am-header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1010;
}
.am-with-fixed-header {
    padding-top: 49px;
}
/* footer 底部菜单 */
footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .25rem 0;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
}
footer a{
    display: initial;
    width: 25%;
    float: left;
    text-align: center;
    color: #737373;
}
footer .icon {
    display: inline-block;
    background-image: url(../picture/icon.png);
    background-size: 350px 350px;
}
footer a.pick{ color: #ed394a; }
footer a i{
    display: inherit !important;
    margin: 0 auto;
    width: 30px;
    height: 30px;
}
footer a i.icon{background-size: 280px 280px;}
footer a i.icon-f1{ background-position: -110px -4px; }
footer a i.icon-f2{ background-position: -73px -4px; }
footer a i.icon-f3{ background-position: -36px -4px; }
footer a i.icon-f4{ background-position: 0 -4px; }
footer a.pick i.icon-f1{ background-position: -110px -33px; }
footer a.pick i.icon-f2{ background-position: -73px -33px; }
footer a.pick i.icon-f3{ background-position: -36px -33px; }
footer a.pick i.icon-f4{ background-position: 0 -33px; }
footer a span{ display: inherit; }