<extend name="Public/common" />
<block name="body">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>用户管理</h5>
            <div class="ibox-tools" style="display:none;">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">选项1</a>
                    </li>
                    <li><a href="#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div id="toolbar">


                            <button id="addform" class="btn btn-success">
                                新增
                            </button>
                            <button id="edit" class="btn btn-primary" disabled>
                                编辑
                            </button>
                           <!-- <button id="remove" class="btn btn-danger" disabled>
                                <i class="glyphicon glyphicon-remove"></i> 删除
                            </button>-->
                            <button id="editPWD" class="btn btn-primary" disabled>
                                重置密码
                            </button>
                        <button id="zuzhang" class="btn btn-primary" disabled>
                            设为组长
                        </button>
                        <button id="see" class="btn btn-primary" disabled>
                            查看发货地址
                        </button>

                    </div>
                    <table id="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-columns="true"
                           data-show-export="true"
                           data-minimum-count-columns="5"
                           data-pagination="true"
                           data-id-field="id"
                           data-sort-name="id"
                           data-detail-formatter="detailFormatter"
                           data-click-select = true
                           data-order="asc"
                           data-page-size = "10"
                           data-page-number = "1"
                           data-page-list="[10,20,50,100,ALL]"
                           data-show-footer="false"
                           data-side-pagination="server"
                           data-url="/index.php/Admin/User/loadUser"
                           data-response-handler="responseHandler">
                    </table>

                </div>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="addCustomer" role="dialog">
        <div class="modal-dialog modal-lt" id="showbox">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        var $table = $('#table'), $edit=$('#edit');$remove = $('#remove'), selections = [];
        var $pwd = $('#editPWD');
        var $add = $('#addform');
        var $see = $('#see');
        var $zuzhang = $('#zuzhang');
        function initTable() {
            $table.bootstrapTable({
                height: getHeight(),
                clickToSelect:true,
                formatLoadingMessage:function(){
                    return '正在加载，请稍候...';
                },
                formatShowingRows: function (pageFrom, pageTo, totalRows) {
                    return '第 ' + pageFrom + ' - ' + pageTo + ' 记录，共 ' + totalRows + ' 条记录';
                },
                formatRecordsPerPage:function(pageNumber){
                    return '每页 '+pageNumber + ' 记录';
                },
                //queryParams: queryParams, //参数
                columns: [
                    [
                        //{field: 'Number', title: 'Number', formatter: function (value, row, index) {return index + 1;}},
                        {checkbox: true, align: 'center', valign: 'middle'},
                        //{field: 'Sort',title: '排序', align: 'center', valign: 'middle', sortable: true,},
                        {field: 'user_name',title: '用户名称', align: 'center'},
                        {field: 'gid', title: '所属组', align: 'center'},
                        {field: 'mobile', title: '手机号码', align: 'center'},
                        {field: 'is_frobid', title: '状态', align: 'center'},
                        {field: 'level', title: '级别', align: 'center'},
                        {field: 'c_date', title: '加入时间', align: 'center'},

                    ]
                ]
            });
            // sometimes footer render error.
            setTimeout(function () {
                $table.bootstrapTable('resetView');
            }, 200);
            $table.on('check.bs.table uncheck.bs.table ' +
                    'check-all.bs.table uncheck-all.bs.table', function () {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
                var checkLen = $table.bootstrapTable('getSelections').length;
                if(checkLen == 1){
                    //$edit.attr("data-remote",""+getIdSelections()+'&t=' + Math.random(1000) );
                    $pwd.prop('disabled',false);
                    $edit.prop('disabled',false);
                    $see.prop('disabled',false);
                    $zuzhang.prop('disabled',false);
                }else{
                    //$edit.attr("data-remote","javascript:void(0);");
                    $pwd.prop('disabled',true);
                    $edit.prop('disabled',true);
                    $see.prop('disabled',true);
                    $zuzhang.prop('disabled',true);
                }
                selections = getIdSelections();
            });
            $remove.click(function () {
                var ids = getIdSelections();
                var param = {ids:ids};
                confirmDelete("/index.php/admin/user/delUser",param,$table,$remove,"id",ids);
            });
            $add.click(function(){
                $("#showbox").removeClass('modal-lg').addClass("modal-lt");
                $("#addCustomer").modal({
                    remote: "/index.php/admin/user/addUser"
                    ,backdrop: 'static'
                    ,keyboard: false
                });
            });
            $edit.click(function(){
                $("#showbox").removeClass('modal-lg').addClass("modal-lt");
                $("#addCustomer").modal({
                    remote: "/index.php/admin/user/editUser?id=" + getIdSelections()+'&t=' + Math.random(1000)
                    ,backdrop: 'static'
                    ,keyboard: false
                });
            });
            $see.click(function() {
                $("#showbox").removeClass('modal-lt').addClass("modal-lg");
                $("#addCustomer").modal({
                    remote: "/index.php/admin/user/address?id=" + getIdSelections() + '&t=' + Math.random(1000)
                    , backdrop: 'static'
                    , keyboard: false
                });
            });

            $zuzhang.click(function(){
                $("#showbox").removeClass('modal-lg').addClass("modal-lt");
                var url = "/index.php/admin/user/zuzhang?id=" + getIdSelections();
                $.get(url,function () {
                    var url2 = "/index.php/admin/user/index";
                    window.location.href=url2;
                });

                /*$("#addCustomer").modal({
                    remote: "/index.php/admin/user/zuzhang?id=" + getIdSelections()+'&t=' + Math.random(1000)
                    ,backdrop: 'static'
                    ,keyboard: false
                });*/
            });

            $pwd.click(function(){
                $("#showbox").removeClass('modal-lg').addClass("modal-lt");
                $("#addCustomer").modal({
                    remote: "/index.php/admin/user/editPWD?id=" + getIdSelections()+'&t=' + Math.random(1000)
                    ,backdrop: 'static'
                    ,keyboard: false
                });
            });
            $(window).resize(function () {
                $table.bootstrapTable('resetView', {
                    height: getHeight()
                });
            });
        }

        function getIdSelections(param) {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id;
            });
        }
        //$("#model").on("hidden.bs.model",function(e){$(this).removeData();});
        $(function () {
            $("#addCustomer").on("hidden.bs.modal", function() {
                $(this).removeData("bs.modal");
                $edit.prop('disabled',true);
                $black.prop('disabled',true);
                $pwd.prop('disabled',true);
                $remove.prop('disabled',true);
                $table.bootstrapTable('refresh', {silent: true});
            });
            eachSeries(getScript, initTable);
        });
    </script>
</block>