<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>个人中心</title>
    <link rel="stylesheet" href="__PUBLIC__/Static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Static/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/toastr.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/sweetalert.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/index.css" />

    <script type="text/javascript" src='__PUBLIC__/Static/jquery-1.11.2.min.js'></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
    <script>
        // 现在window.$和window.jQuery是1.11版本:
        console.log($().jquery); // => '1.11.0'
        var $jq = jQuery.noConflict(true);
        // 现在window.$和window.jQuery被恢复成1.5版本:
        console.log($().jquery); // => '1.5.0'
        // 可以通过$jq访问1.11版本的jQuery了
    </script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.bgiframe.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.ajaxQueue.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.autocomplete.js"></script>
    <script src="__PUBLIC__/Static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Static/assets/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="__PUBLIC__/Admin/js/toastr.min.js"></script>
    <script src="__PUBLIC__/Admin/js/sweetalert.min.js"></script>
    <script src="__PUBLIC__/Admin/js/layer/laydate/laydate.js"></script>
    <block name="css"></block>
</head>
<body style="background: url('__PUBLIC__/Home/img/bg.jpg') no-repeat; background-size:100% 100%;">
<div class="contain">
    <div id="hd" style="background:#FFF; height:60px; border-bottom:1px solid #E6E6E6; ">

        <div class="clear"></div>

        <div id="week_nav">

            <div class="wk_navwp">

                <div class="wk_lonav">

                    <div class="wk_logo">

                        <h2><a href="/" title=""><img src="__PUBLIC__/Index/images/logo.png" alt="" border="0" /></a></h2>

                    </div>

                    <div class="wk_inav" style="width:860px; height:60px;">

                        <ul class="nav">

                            <li><a href="/" >网站首页</a></li>

                            <li><a href="/news" >公司资讯</a></li>
                            <li><a href="/about" >关于我们</a></li>
                            <if condition="$cont_name eq 'Center'">
                                <li><a href="/clothes">天猫业务</a></li>
                            </if>
                            <li><a href="/center" class="actone">个人中心</a></li>
                            <?php if(isset($_SESSION['web_user']['id'])){  ?>
                            <li><a href="/logout" >退出登录</a></li>
                            <?php } ?>
                        </ul>

                    </div>

                </div>



            </div>

        </div>

    </div>

    <section class="section">
        <div class="section-title">
            <i class="icon-title"></i>
            <h2>平台公告：</h2>
            欢迎有您，我们将竭力为您服务！
        </div>
        <div class="row_box">
            <div class="row_men">
                <div class="row_regin">

                    <include file="Public/meun"/>
                </div>
            </div><!--left菜单-->
            <div class="row_right">

                <block name="content">

                </block>

            </div>
        </div>
    </section>



    <footer class="footer">
        Copyright @ QT Network Company Ltd. All Rights Reserved. 2013-2017 青春之火
    </footer>
    <div class="modal fade" id="addModalBox" role="dialog">
        <div class="modal-dialog modal-lt" id="showbox">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

</body>
<script>
    $(function () {
        $("#addModalBox").on("hidden.bs.modal", function() {
            $(this).removeData("bs.modal");
        });
    });
</script>
<block name="js"></block>

</html>
