<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>个人中心</title>
    <link rel="stylesheet" href="__PUBLIC__/Static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Static/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/toastr.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/sweetalert.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/index.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/fileput/css/default.css">

    <script type="text/javascript" src='__PUBLIC__/Static/jquery-1.11.2.min.js'></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
    <script>
        // 现在window.$和window.jQuery是1.11版本:
        console.log($().jquery); // => '1.11.0'
        var $jq = jQuery.noConflict(true);
        // 现在window.$和window.jQuery被恢复成1.5版本:
        console.log($().jquery); // => '1.5.0'
        // 可以通过$jq访问1.11版本的jQuery了
    </script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.bgiframe.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.ajaxQueue.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.autocomplete.js"></script>
    <script src="__PUBLIC__/Static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Static/assets/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="__PUBLIC__/Admin/js/toastr.min.js"></script>
    <script src="__PUBLIC__/Admin/js/sweetalert.min.js"></script>
    <script src="__PUBLIC__/Admin/js/layer/laydate/laydate.js"></script>
    <block name="css"></block>
</head>
<body>
<div class="contain">
    <header class="header">
        <div class="new-head">
            <div class="logo"><img src="__PUBLIC__/Home/img/logo.png"/></div>
            <div class="head_men">
                <nav class="men">
                    <ul>
                        <li><a href="#">首页</a></li>
                        <li><a href="#">关于我们</a></li>
                        <li class="action"><a href="#">个人中心</a></li>
                    </ul>
                </nav>
                <div class="head_right">
                    <div class="ShippingCenter">
                        <i class="icon-regin"></i>
                        <a class="text" href="/logout">退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="section">
        <div class="section-title">
            <i class="icon-title"></i>
            <h2>平台公告：</h2>
            欢迎有您，我们将竭力为您服务！
        </div>
        <div class="row_box">
            <div class="row_men">
                <div class="row_regin">

                    <include file="Public/meun"/>
                </div>
            </div><!--left菜单-->
            <div class="row_right">

                <block name="content">

                </block>

            </div>
        </div>
    </section>



    <footer class="footer">
        Copyright @ QT Network Company Ltd. All Rights Reserved. 2013-2017 青春之火
    </footer>
    <div class="modal fade" id="addModalBox" role="dialog">
        <div class="modal-dialog modal-lt" id="showbox">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

</body>
<script>
    $(function () {
        $("#addModalBox").on("hidden.bs.modal", function() {
            $(this).removeData("bs.modal");
        });
    });
</script>
<block name="js"></block>

</html>
