<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/index.css" />
    <block name="css"></block>
</head>
<body>
<div class="contain">
    <header class="header">
        <div class="new-head">
            <div class="logo"><img src="__PUBLIC__/Home/img/logo.png"/></div>
            <div class="head_men">
                <nav class="men">
                    <ul>
                        <li><a href="#">首页</a></li>
                        <li><a href="#">关于我们</a></li>
                        <li class="action"><a href="#">个人中心</a></li>
                    </ul>
                </nav>
                <div class="head_right">
                    <div class="ShippingCenter">
                        <i class="icon-regin"></i>
                        <div class="text">退出登录</div>
                    </div>
                    <div class="ShippingCenter action">
                        <i class="icon-ShippingCenter"></i>
                        <div class="text">报货中心</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <block name="content"></block>
    <footer class="footer">
        Copyright @ QT Network Company Ltd. All Rights Reserved. 2013-2017 青春之火
    </footer>
</div>

</body>

<block name="js"></block>

</html>
