<ul>
    <li class="center_menu action"><a href="#"><i class="one"></i><span class="text">账户信息</span></a></li>
    <li class="center_menu "><a href="#"><i class="two"></i><span class="text">密码修改</span></a></li>
    <li class="center_menu "><a href="#"><i class="three"></i><span class="text">余额充值</span></a></li>
    <li class="center_menu "><a href="#"><i class="four"></i><span class="text">发货地址</span></a></li>
    <li class="center_menu "><a href="#"><i class="five"></i><span class="text">成员查看</span></a></li>
    <li class="center_menu "><a href="#"><i class="six"></i><span class="text">消费记录</span></a></li>
    <li class="center_menu "><a href="#"><i class="senve"></i><span class="text">退出登陆</span></a></li>
</ul>