<div class="logo_rgi"><img src="__PUBLIC__/Wap/picture/user-img0.jpg" style="width: 67px;border: none"/></div>
<div class="text_row">
    <h3>{$session_user['user_name']}[<span>
                            <if condition="$session_user.level eq 0">组员<else/>组长</if>
                            </span>]
    </h3>
    <div class="phone">{$session_user['mobile']}</div>
    <div class="text_suz">属组：<span>{$session_group_name}</span></div>
    <div class="text_suz">资金：<span>{$session_group_money}</span></div>
</div>
<nav class="row_regin_men">
<ul>
    <li class="center_menu <if condition="$cont_name eq 'Center'">action</if>"><a href="{:U('Center/index')}"><i class="zeone"></i><span class="text">账户信息</span></a></li>
    <li class="center_menu <if condition="$cont_name eq 'Member'">action</if>"><a href="{:U('Member/index')}"><i class="one"></i><span class="text">成员查看</span></a></li>
    <li class="center_menu <if condition="$cont_name eq 'Shop'">action</if>"><a href="{:U('Shop/index')}"><i class="two"></i><span class="text">小组店铺</span></a></li>
    <li class="center_menu <if condition="$cont_name eq 'Baohuo'">action</if>"><a href="{:U('Baohuo/index')}"><i class="four"></i><span class="text">小组报货</span></a></li>
    <li class="center_menu <if condition="$cont_name eq 'After'">action</if>"><a href="{:U('After/index')}"><i class="five2"></i><span class="text">退货换货</span></a></li>
    <li class="center_menu <if condition="$cont_name eq 'Kucun'">action</if>"><a href="{:U('Kucun/index')}"><i class="four"></i><span class="text">小组库存</span></a></li>
    <li class="center_menu <if condition="$cont_name eq 'Money'">action</if>"><a href="{:U('Money/index')}"><i class="three"></i><span class="text">资金记录</span></a></li>
    <li class="center_menu <if condition="$cont_name eq 'Borrow'">action</if>"><a href="{:U('Borrow/index')}"><i class="five"></i><span class="text">借出记录</span></a></li>
    <li class="center_menu <if condition="$cont_name eq 'BackChan'">action</if>"><a href="{:U('BackChan/index')}"><i class="five2"></i><span class="text">退回厂家</span></a></li>
    <li class="center_menu <if condition="$cont_name eq 'Black'">action</if>"><a href="{:U('Black/index')}"><i class="senve"></i><span class="text">黑名榜单</span></a></li>
</ul>
</nav>