<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$sets.site_name}</title>

    <meta name="description" content="{$sets.description}" />

    <meta name="keywords" content="{$sets.keyword}" />

    <link rel="shortcut icon" href="/host.ico" />

    <link rel="bookmark"href="/host.ico" />

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/host.ico">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="apple-touch-icon-precomposed" href="/host.ico">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/host.ico">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <!--AmazeUi  CSS代码-->
    <link rel="stylesheet" href="__PUBLIC__/Wap/css/app.css" />
    <link rel="stylesheet" href="__PUBLIC__/Wap/css/style.css" />

</head>

<body>
<!--顶部导航-->
<div class="my-header">

    <header data-am-widget="header" class="am-header am-header-default am-header-fixed">
        <div class="am-header-left am-header-nav">
            <a href="#left-link" class="">

                <i class="am-header-icon am-icon-home"></i>
            </a>
        </div>

        <h1 class="am-header-title">
            <a href="index.html" class="">
            </a>
        </h1>

        <div class="am-header-right am-header-nav">
            <a href="#right-link" class="">
                <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
                    <a href="javascript: void(0)" class="am-menu-toggle">
                        <i class="am-header-icon am-icon-bars"></i>
                    </a>

                    <div class="am-offcanvas">

                        <div class="am-offcanvas-bar am-offcanvas-bar-flip">

                            <ul class="am-menu-nav am-avg-sm-1">
                                <li class="">
                                    <a href="index.html" class="">公司首页</a>
                                </li>
                                <li class="">
                                    <a href="about.html" class="">新闻资讯</a>
                                </li>
                                <li>
                                    <a href="NewsList.html" class="">关于我们</a>
                                </li>
                                <li class="">
                                    <a href="Contact.html" class="">地图位置</a>
                                </li>
                                <li class="">
                                    <a href="/center.html" class="">个人中心</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>

        </div>
    </header>
</div>
<!--顶部导航  end-->

<!--轮播图-->
<div class="my-lunbo">
    <div class="am-container my-qcwbj">
        <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}'>
            <ul class="am-slides">
                <li>
                    <img src="__PUBLIC__/Wap/picture/banner1.jpg">

                </li>
                <li>
                    <img src="__PUBLIC__/Wap/picture/banner2.jpg">

                </li>
                <li>
                    <img src="__PUBLIC__/Wap/picture/banner3.jpg">

                </li>
                <li>
                    <img src="__PUBLIC__/Wap/picture/banner4.jpg">

                </li>
            </ul>
        </div>
    </div>
</div>
<!--轮播图  end-->

<!--关于我们-->
<div class="my-syabout">
    <div class="am-container my-qcwbj">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default">
            <nav class="am-titlebar-nav">
                <a href="#c1" class="my-title-l">ABOUT US</a>
                <a href="#c2" class="my-title-r">关于我们</a>
            </nav>
        </div>

        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />

        <div data-am-widget="intro" class="am-intro am-cf am-intro-default">
            <div class="am-g am-intro-bd">
                <div class="am-intro-left am-u-sm-5"><img src="__PUBLIC__/Wap/picture/cp05.jpg" alt="小娜" /></div>
                <div class="am-intro-right am-u-sm-7">
                    <p>英特尔公司[1] 是美国一家主要以研制CPU处理器的公司，是全球最大的个人计算机零件和CPU制造商，它成立于1968年，具有46年产品创新和市场领导的历史。1971年，英特尔推出了全球第一个微处理器。微处理器所带来的计算机和互联网革命，改变了整个世界。在2016年世界五百强中排在第158位。</p>
                </div>
            </div>
        </div>

    </div>
</div>
<!--关于我们  end-->



<!--新闻资讯-->
<div class="my-synews">
    <div class="am-container my-qcwbj">
        <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default">
            <nav class="am-titlebar-nav">
                <a href="#c1" class="my-title-l">NEWS</a>
                <a href="#c2" class="my-title-r">新闻资讯</a>
            </nav>
        </div>

        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />

        <div data-am-widget="list_news" class="am-list-news am-list-news-default">
            <div class="am-list-news-bd">
                <ul class="am-list">

                    <!--缩略图在标题左边-->
                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                        <div class="am-u-sm-3 am-list-thumb">
                            <a href="#" class="">
                                <img src="__PUBLIC__/Wap/picture/cp06.jpg" alt="" />
                            </a>
                        </div>

                        <div class=" am-u-sm-9 am-list-main">
                            <h3 class="am-list-item-hd"><a href="#" class="">低油价惹的祸？中石化油服前三季度亏损88.58亿元</a></h3>

                            <div class="am-list-item-text">此外，于2016年第三季度，该公司营业收入90.92亿元，同比减少32.45%;亏损43.49亿元，上年同期亏损6.8亿元;每股亏损0.306元，上年同期每股亏损0.048元。</div>

                        </div>
                    </li>
                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                        <div class="am-u-sm-3 am-list-thumb">
                            <a href="#" class="">
                                <img src="__PUBLIC__/Wap/picture/cp10.jpg" alt="" />
                            </a>
                        </div>

                        <div class=" am-u-sm-9 am-list-main">
                            <h3 class="am-list-item-hd"><a href="#" class="">苹果15年首现年度营收下滑：第四财季中国营收降3成</a></h3>

                            <div class="am-list-item-text">虽然竞争对手三星的旗舰机型Note 7遭遇了电池爆炸门，但苹果因此的受益似乎并未体现了销售数据上。</div>

                        </div>
                    </li>
                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                        <div class="am-u-sm-3 am-list-thumb">
                            <a href="#" class="">
                                <img src="__PUBLIC__/Wap/picture/cp09.jpg" alt="" />
                            </a>
                        </div>

                        <div class=" am-u-sm-9 am-list-main">
                            <h3 class="am-list-item-hd"><a href="#" class="">恒大质押嘉凯城股权 融资近50亿远高于收购价</a></h3>

                            <div class="am-list-item-text">你中国恒大(03333.HK)继续以其眼花缭乱的资本运作吸引着大众眼球。根据业内人士大致测算，这次质押嘉凯城(000918,股吧)股权融资可以为恒大带来近50亿元融资</div>

                        </div>
                    </li>
                    <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                        <div class="am-u-sm-3 am-list-thumb">
                            <a href="#" class="">
                                <img src="__PUBLIC__/Wap/picture/cp07.jpg" alt="" />
                            </a>
                        </div>

                        <div class=" am-u-sm-9 am-list-main">
                            <h3 class="am-list-item-hd"><a href="#" class="">冷空气将影响我国大部 黄淮等地阴雨持续至月底</a></h3>

                            <div class="am-list-item-text">中国天气网讯 据中央气象台消息，本月19日以来黄淮、江淮、江汉等地出现了连阴雨天气，江苏、河南累计降雨量均突破1961年以来的同期历史极值。受冷空气影响，我国大部地区将有明显大风降温，黄淮、江淮和江汉等地阴雨天气将持续至月底，公众需注意防寒保暖。</div>

                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>
<!--新闻资讯  end-->


<!-- footer 底部菜单 -->
<footer>
    <a href="/" class="pick">
        <i class="icon icon-f1"></i>
        首页
    </a>
    <a href="community.html">
        <i class="icon icon-f2"></i>
        资讯
    </a>
    <a href="shoppingCart.html">
        <i class="icon icon-f3"></i>
        关于
    </a>
    <a href="/center.html">
        <i class="icon icon-f4"></i>
        我的
    </a>
</footer>

<!--底部工具栏  end-->

<script type="text/javascript" src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Wap/js/amazeui.js"></script>

</body>

</html>