<extend name="Public/base" />

<block name="css">
    <style>
        .c_title{
            float: left;
            width: 50%;
            text-align: left;
            font-weight: bolder;
            font-size: 20px;
        }
        .c_right{
            float: right;
            width: 48%;
            text-align: right;
        }
        .c_note{
            font-size: 12px;
            color: red;
        }
        .huoyuan{
            padding: 0px;margin: 0px;
        }
        .huoyuan li{
            padding: 2px;margin: 0px;border: 1px solid #e1e1e8;width: 180px;margin-right: 14px;float: left;
            list-style: none;height: 200px;margin-bottom: 15px;
        }
        .huoyuan li .pic{width: 100%;height: 176px;}
        .huoyuan li .pic img{width: 100%;height: 176px;}
        .huoyuan li .title{width: 100%;height: 20px;
            line-height:20px;font-size: 12px;text-align: left;overflow: hidden}
    </style>
</block>
<block name="content">
    <div>
        <p class="c_title">Step2:选择对应报货宝贝</p>
        <p class="c_right">
            <a href="__CONTROLLER__/addStep1" class="btn btn-warning btn-lt">返 回</a>
            <a href="__CONTROLLER__/addHuoyuan/cat_id1/{$cat_id1}/cat_id2/{$cat_id2}" class="btn btn-info btn-lt">添加宝贝</a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="c_note">如果找不到对应宝贝</span>
        </p>
    </div>
    <hr class="hr15">
    <div>
        <ul class="huoyuan">
            <foreach name="info" item="oneRow">
                <li>
                    <div class="pic">
                        <a href="{:U('Baohuo/addStep3',array('huo_id'=>$oneRow['id']))}">
                            <img src="{$oneRow.pic}"  alt="">
                        </a>
                    </div>
                    <div class="title">
                        {$oneRow.h_name}
                    </div>
                </li>
            </foreach>
        </ul>

    </div>
    <div style="text-align: left;clear: both" class="show_page">{$page}</div>
</block>

<block name="js">
    <script>

    </script>
</block>
