<extend name="Public/base" />

<block name="css">
    <style>
        .choose_cat{
            margin-top: 20px;
            margin-left: 100px;
            width: 650px;
            text-align: left;
        }
        .choose_cat .title{
            font-weight: bolder;
            font-size: 22px;
            margin-bottom:40px;
        }
        #uploadifive-btn-upload input{
            cursor: pointer;
        }
    </style>
</block>
<block name="content">
    <div class="choose_cat form-horizonta">
        <p class="title">Step3:报货信息填写</p>
        <form id="formParme">
        <div class="form-group">
            <label for="pic" class="col-sm-3 control-label">宝贝主图</label>
            <div class="col-sm-9">
                <img src="{$data.pic}" alt="" style="height:60px; ">
                <input type="hidden" value="{$data.id}" name="huo_id" id="huo_id">
                <input type="hidden" value="{$data.cat_id1}" name="cat_id1" id="cat_id1">
                <input type="hidden" value="{$data.cat_id2}" name="cat_id2" id="cat_id2">
                <input type="hidden" value="{$data.pic}" name="pic" id="pic">
            </div>
        </div>
        <hr class="hr15"/>
        <div class="form-group">
            <label for="cm_size0" class="col-sm-3 control-label">选择尺码1</label>
            <div class="col-sm-9">
                <select  id="cm_size0" class="form-control">
                    <option value="0">选择一级尺码</option>
                    <foreach name="cm_size" item="onecate">
                        <option value="{$onecate.id}" <if condition="$onecate['id'] eq $parentSize['id']">selected</if>>{$onecate.cm_name}</option>
                    </foreach>
                </select>
            </div>
        </div>
        <hr class="hr15"/>
        <div class="form-group">
            <label for="cm_id" class="col-sm-3 control-label">选择尺码2</label>
            <div class="col-sm-9">
                <select name="cm_id" id="cm_id" class="form-control">
                    <option value="0">选择二级尺码</option>
                    <foreach name="sonSize" item="one_size">
                        <option value="{$one_size.id}" <if condition="$one_size['id'] eq $baohuo['cm_id']">selected</if>>{$one_size.cm_name}</option>
                    </foreach>
                </select>
            </div>
        </div>
        <hr class="hr15"/>
        <div class="form-group">
            <label for="pic2" class="col-sm-3 control-label">传附加图</label>
            <div class="col-sm-9">
                <input type="hidden" name="pic2" id="pic2" value="{$baohuo.pic2|default='/Public/no_photo.png'}" />
                <img src="{$baohuo.pic2|default='/Public/no_photo.png'}"  id="photo_preview" style="height: 60px;"/>
                <input class="upload-btn" type="file" id="btn-upload" style="cursor: pointer">
            </div>
        </div>
        <hr class="hr15"/>
        <div class="form-group">
            <label for="chang_id" class="col-sm-3 control-label">选择厂家</label>
            <div class="col-sm-9">
                <select name="chang_id" id="chang_id" class="form-control">
                    <option value="0">选择对应厂家</option>
                    <foreach name="changjia" item="oneRow">
                        <option value="{$oneRow.id}" <if condition="$oneRow['id'] eq $baohuo['chang_id']">selected</if>>{$oneRow.cname}</option>
                    </foreach>
                </select>
            </div>
        </div>
        <hr class="hr15"/>
        <div class="form-group">
            <label for="shop_id" class="col-sm-3 control-label">来源店铺</label>
            <div class="col-sm-9">
                <select name="shop_id" id="shop_id" class="form-control">
                    <option value="0">选择对应哪家店铺卖出</option>
                    <foreach name="user_shop" item="Row">
                        <option value="{$Row.id}" <if condition="$Row['id'] eq $baohuo['shop_id']">selected</if> >{$Row.shop_name}--[{$Row.shop_zg}]</option>
                    </foreach>
                </select>
            </div>
        </div>
        <hr class="hr15"/>
        <div class="form-group">
            <label for="shop_id" class="col-sm-3 control-label">报货目的</label>
            <div class="col-sm-3">
               发货 <input type="radio" class="form-control1" value="1" name="mude" <if condition="$baohuo['mude'] eq 1">checked</if> id="mude1">
            </div>
            <div class="col-sm-3">
                备货 <input type="radio" class="form-control1" value="2" name="mude" <if condition="$baohuo['mude'] eq 2">checked</if> id="mude2">
            </div>
        </div>
        <hr class="hr15"/>
        <div class="form-group">
            <label for="shop_id" class="col-sm-3 control-label">是否调货</label>
            <div class="col-sm-3">
                用库存 <input type="radio" class="form-control1" value="1" name="diaohuo" <if condition="$baohuo['diaohuo'] eq 1">checked</if> id="diao1">
            </div>
            <div class="col-sm-3">
                用调货 <input type="radio" class="form-control1" value="2" name="diaohuo" <if condition="$baohuo['diaohuo'] eq 2">checked</if> id="diao2">
            </div>
        </div>
        <hr class="hr15"/>
        <div class="form-group">
            <label for="shop_id" class="col-sm-3 control-label">物品数量</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" value="{$baohuo.num|default=1}" name="num">
            </div>
        </div>
        <hr class="hr15"/>
        <div class="form-group" id="danjia" <empty name="baohuo.mai_price">style="display: none"</empty> >
            <label for="shop_id" class="col-sm-3 control-label">卖出单价</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" value="{$baohuo.mai_price}" name="mai_price">
            </div>
        </div>
        <hr class="hr15"/>
        <div class="form-group">
            <label for="" class="col-sm-3 control-label">&nbsp;</label>
            <div class="col-sm-9">
                <input type="hidden" name="id" value="{$baohuo.id}">
                <button class="btn btn-info btn-lt" type="button" onclick="addBaohuo()">
                    <empty name="baohuo.id">确认添加<else/>确认修改</empty>
                </button>
            </div>
        </div>
        </form>
    </div>
</block>

<block name="js">
    <script type="text/javascript" src='__PUBLIC__/Static/uploadifive/Sample/jquery.uploadifive.min.js'></script>
    <script>
        $("#mude2").click(function () {
            $("#diao2").prop('checked',true);
            $("#diao1").prop("checked",false);
            $("#danjia").hide();
        });
        $("#mude1").click(function () {
            $("#danjia").show();
        });


        $(function () {

            $("#btn-upload").uploadifive({
                height: 25,
                swf: '/Public/Static/uploadify/uploadify.swf',
                uploadScript: "{:U('Admin/File/uploadPicture',array('dir'=>'baohuo','session_id'=>session_id()))}",
                width: 80,
                buttonClass: "l-btn",
                buttonText: '上传',
                onUploadComplete: function (file, data) {
                    console.log(file)
                    data = $.parseJSON(data);
                    if (data.errno == 200) {
                        $("#photo_preview").attr("src", data.message);
                        $("#pic2").val(data.message);
                    }
                    else {
                        toastr.warning(data.message);return false;
                    }
                }
            });

            $("#cm_size0").change(function () {
                var cm_id1 = $(this).val();
                if(cm_id1 == 0){
                    var html = '<option value="0">选择二级尺码</option>';
                    $("#cm_id").html(html);
                }else{
                    //异步请求
                    var html = '';
                    var url = "__CONTROLLER__/getSize";
                    $.post(url,{cm_id1:cm_id1},function(message){
                        if(message.length>0){
                            for(var i=0;i<message.length;i++){
                                var item = message[i];
                                html += '<option value="'+item.id+'">'+item.cm_name+'</option>';
                            }
                        }else{
                            html = '<option value="0">暂无二级分类</option>';

                        }
                        $("#cm_id").html(html);
                    });
                }
            });
        });
        
        function addBaohuo() {
            var parme = $("#formParme").serialize();
            var url = "__CONTROLLER__/addBaohuo";
            $.post(url,parme,function (data) {
                if(data.status == 1){
                    var info = data.info;
                    swal({
                        title:"报货成功",
                        text:info.message,
                        type:"success",
                        showCancelButton:true,
                        confirmButtonColor:"#DD6B55",
                        confirmButtonText:"完善客户信息",
                        cancelButtonText:"稍后完善信息",
                        closeOnConfirm:false,
                        closeOnCancle:false,
                    },function(isConfirm){
                        if(isConfirm){
                            window.location.href = "__CONTROLLER__/addStep4/huo_id/"+info.huo_id;
                        }else{
                            window.location.href = "__CONTROLLER__/index";
                        }
                    });
                }else{
                    toastr.warning(data.info);return false;
                }
            });
        }
    </script>
</block>
