<extend name="Public/base" />


<block name="content">

    <section class="section">
        <div class="section-title">
            <i class="icon-title"></i>
            <h2>平台公告：</h2>
            欢迎有您，我们将竭力为您服务！
        </div>
        <div class="row">
            <div class="row_men">
                <div class="row_regin">
                    <div class="logo_rgi"><img src="__PUBLIC__/Home/img/logo_rgi.png"/></div>
                    <div class="text_row">
                        <h3>kevin[<span>组员</span>]</h3>
                        <div class="phone">13960947857</div>
                        <div class="text_suz">属组：<span>12312请问请问请问请问3</span></div>
                        <div class="text_suz">余额：￥<span>123123</span></div>
                    </div>
                    <nav class="row_regin_men">
                        <include file="Public/meun"/>
                    </nav>
                </div>
            </div><!--left菜单-->
            <div class="row_right">
                今日报货|历史报货
                <p>左右两项</p>
            </div>
        </div>
    </section>

</block>