<extend name="Public/base" />


<block name="content">

    <div style="text-align: left;margin-bottom: 13px;">
        <a class="btn btn-info btn-lt" href="__CONTROLLER__/addStep1">添加报货</a>
    </div>
    <ul class="nav nav-tabs">
        <li style="width:100px" <if condition="$order_state eq 0">class="active" </if> ><a href="{:U('baohuo/index',array('order_state'=>0))}">正申请中</a></li>
        <li style="width:100px" <if condition="$order_state eq 1">class="active" </if> ><a href="{:U('baohuo/index',array('order_state'=>1))}">正处理中</a></li>
        <li style="width:100px" <if condition="$order_state eq '2'">class="active" </if> ><a href="{:U('baohuo/index',array('order_state'=>2))}">调货完成</a></li>
        <li style="width:100px" <if condition="$order_state eq '3'">class="active" </if> ><a href="{:U('baohuo/index',array('order_state'=>3))}">发货完成</a></li>
        <li style="width:100px" <if condition="$order_state eq '-1'">class="active" </if> ><a href="{:U('baohuo/index',array('order_state'=>-1))}">已经关闭</a></li>
    </ul>
    <table class="table table-bordered table-hover"  id="table">
        <thead>
        <tr>
            <th style="text-align: center">编号</th>
            <th style="text-align: center">用户名</th>
            <th style="text-align: center">主图</th>
            <th style="text-align: center">尺码</th>
            <th style="text-align: center">拿货价</th>
            <th style="text-align: center">打包价</th>
            <th style="text-align: center">目的</th>
            <th style="text-align: center">调货状态</th>
            <th style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        </tbody>
    </table>

</block>