<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>青火科技后台</title>
    <meta name="keywords"/>
    <meta name="description"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/style.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Static/assets/bootstrap-table/src/bootstrap-table.css">
    <link rel="stylesheet" href="__PUBLIC__/Static/assets/bootstrap-table/src/bootstrap-editable.css">
    <link rel="stylesheet" href="__PUBLIC__/Static/assets/examples.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/custom.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/huge.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/toastr.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/sweetalert.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/summernote.css">
    <script type="text/javascript" src='__PUBLIC__/Static/jquery-1.11.2.min.js'></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
    <script>
        // 现在window.$和window.jQuery是1.11版本:
        console.log($().jquery); // => '1.11.0'
        var $jq = jQuery.noConflict(true);
        // 现在window.$和window.jQuery被恢复成1.5版本:
        console.log($().jquery); // => '1.5.0'
        // 可以通过$jq访问1.11版本的jQuery了
    </script>


    <link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.autocomplete.css">
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.bgiframe.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.ajaxQueue.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.autocomplete.js"></script>
    <script src="__PUBLIC__/Static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Static/assets/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="__PUBLIC__/Static/assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js"></script>
    <script src="__PUBLIC__/Static/assets/tableExport.js"></script>
    <script src="__PUBLIC__/Static/assets/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js"></script>
    <script src="__PUBLIC__/Static/assets/bootstrap-table/src/bootstrap-editable.js"></script>
    <script src="__PUBLIC__/Admin/js/icheck.min.js"></script>
    <script src="__PUBLIC__/Admin/js/content.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrapValidator.js"></script>
    <script src="__PUBLIC__/Admin/js/toastr.min.js"></script>
    <script src="__PUBLIC__/Static/assets/analytics.js"></script>
    <script src="__PUBLIC__/Admin/js/sweetalert.min.js"></script>
    <script src="__PUBLIC__/Admin/js/layer/laydate/laydate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Static/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/summernote.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/summernote-zh-CN.js"></script>
    <script src="__PUBLIC__/Admin/js/huge.js"></script>
    <style>
        .show_page a,.show_page span{
            padding: 4px;
        }
        .show_page>div{
            float: left;
            width: 60%;
        }
        .show_page .show_other{
            float: right;
            width: 38%;
            text-align: right;
        }
    </style>
    <block name="style"></block>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- 主体 -->
        <block name="body"></block>
    <!-- /主体 -->
</div>
<!-- 底部 -->
<!--<include file="Public/footer"/>-->
<!-- /底部 -->
<block name="modal"></block>
<block name="script"></block>
</body>
</html>