<extend name="Public/base" />

<block name="css">
    <style>
        .choose_cat{
            margin-top: 20px;
            margin-left: 100px;
            width: 450px;
            text-align: left;
        }
        .choose_cat .title{
            font-weight: bolder;
            font-size: 22px;
            margin-bottom:65px;
        }
    </style>
</block>
<block name="content">
    <div class="choose_cat form-horizonta">
        <p class="title">金额充值</p>
        <div class="form-group">
            <label for="chon_price" class="col-sm-3 control-label">金额数目</label>
            <div class="col-sm-9">
                <input type="number" name="chon_price" value="" class="form-control">
            </div>
        </div>
        <hr class="hr15"/>
        <div class="form-group">
            <label for="price" class="col-sm-3 control-label">上传凭证</label>
            <div class="col-sm-9">

            </div>
        </div>
        <hr class="hr15"/>
        <div class="form-group">
            <label for="" class="col-sm-3 control-label">&nbsp;</label>
            <div class="col-sm-9">
                <span class="btn btn-info btn-lt">确定充值</span>
            </div>
        </div>
    </div>
</block>

<block name="js">
    <script>

    </script>
</block>
