<extend name="Public/base" />


<block name="content">

    <section class="section">
        <div class="section-title">
            <i class="icon-title"></i>
            <h2>平台公告：</h2>
            欢迎有您，我们将竭力为您服务！
        </div>
        <div class="row_box">
            <div class="row_men">
                <div class="row_regin">

                    <include file="Public/meun"/>
                </div>
            </div><!--left菜单-->
            <div class="row_right">


            </div>
        </div>
    </section>

</block>