<extend name="Public/base" />
<block name="css">
    <style>
        .big-img-show {
            display: none;
            position: absolute;
            top: 220px;
            left: 50%;
            margin: -250px 0 0 -300px;
            width: 600px;
            height: 600px;
            cursor: pointer;
        }
        .big-img-show img{
            width: 600px;
            height: 600px;
        }
        .piclist {
            cursor: pointer;
        }
        .piclist img{
            border: 1px solid #C6C6C6;background: #ffffff;padding: 1px;
        }
    </style>
</block>

<block name="content">

    <ul class="nav nav-tabs">
        <li style="width:110px" <if condition="$show eq 0">class="active" </if> ><a href="{:U('money/index',array('show'=>0))}">账单记录</a></li>
        <li style="width:110px" <if condition="$show eq 1">class="active" </if> ><a href="{:U('money/index',array('show'=>1))}">充值记录</a></li>
    </ul>

    
    <if condition="$show eq 0">
        <div style="text-align: left;margin-bottom: 10px;margin-top: 10px;overflow: hidden">
            <form method="get" action="__CONTROLLER__/index" onsubmit="return checkForm(this)">
            <div class="col-sm-2">
                <select name="shop_id" id="" class="form-control">
                    <option value="0">店铺选择</option>
                    <foreach name="mem_shop" item="shopRow">
                        <option value="{$shopRow.id}" <if condition="$shopRow['id'] eq $shop_id">selected</if> >{$shopRow.shop_name}</option>
                    </foreach>
                </select>
            </div>
            <div class="col-sm-2">
                <select name="uid" class="form-control">
                    <option value="0">用户选择</option>
                    <foreach name="mem_user" item="userRow">
                        <option value="{$userRow.id}" <if condition="$userRow['id'] eq $uid">selected</if> >{$userRow.user_name}</option>
                    </foreach>
                </select>
            </div>

            <div class="col-sm-2">
                <select name="state" class="form-control">
                    <option value="0">账单类型选择</option>
                    <option value="1" <if condition="$state eq 1">selected</if>>调货</option>
                    <option value="2" <if condition="$state eq 2">selected</if>>发货</option>
                    <option value="3" <if condition="$state eq 3">selected</if>>刷单</option>
                </select>
            </div>
            <div class="col-sm-2">
                <input class="form-control" id="startTime" name="s_time"  value="{$s_time|tplhtmlTime='start',###}" type="text" />
            </div>
            <div class="col-sm-2">
                <input class="form-control" id="endTime" name="e_time"  value="{$e_time|tplhtmlTime='end',###}" type="text" />
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-info btn-lt">确 定</button>
            </div>
            </form>
        </div>

        <table class="table table-bordered table-hover"  id="table">
            <thead>
            <tr>
                <th style="text-align: center">编号</th>
                <th style="text-align: center">店铺名称</th>
                <th style="text-align: center">主图</th>
                <th style="text-align: center">用户</th>
                <th style="text-align: center">尺码</th>
                <th style="text-align: center">卖出价</th>
                <th style="text-align: center">拿货价</th>
                <th style="text-align: center">打包价</th>
                <th style="text-align: center">刷单价</th>

                <th style="text-align: center">类型</th>
                <th style="text-align: center">创建时间</th>
                <th style="text-align: center">备注</th>
            </tr>
            </thead>
            <tbody>
            <volist name="info" id="vo">
                <tr>
                    <td title="报货编号:{$vo.bao_id}">{$vo.id}</td>
                    <td>{$vo.shop_name}</td>
                    <td>
                        <div class="piclist">
                            <span imghref="{$vo.pic}" class="onepic">
                            <img src="{$vo.pic}" style="width: 50px;" alt="">
                            </span>
                        </div>
                    </td>
                    <td>{$vo.user_name}</td>
                    <td>{$vo.cm_name}</td>
                    <td>{$vo.mai_price}</td>
                    <td>{$vo.jin_price}</td>
                    <td>{$vo.da_price}</td>
                    <td>{$vo.shua_price}</td>

                    <td>{$vo.state}</td>
                    <td>{$vo.c_date}</td>
                    <td>
                        <empty name="vo['info']">
                            暂无
                            <else/>
                            <span class="glyphicon glyphicon-envelope" style="color: #337ab7;cursor: pointer" title="{$vo.info}"></span>
                        </empty>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div style="text-align: left;font-size: 14px;">
            <span>&nbsp;总卖出:{$price_info['0']['mai_price']}</span>
            <span>总拿货:{$price_info['0']['jin_price']}</span>
            <span>总打包:{$price_info['0']['da_price']}</span>
            <span>总刷单:{$price_info['0']['shua_price']}</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;总共利润:{$total_lirun}</span>
        </div>
        <div style="text-align: left">{$page}</div>
    </if>

    <if condition="$show eq 1">
        <div style="text-align: left;margin-bottom: 10px;margin-top: 10px;">
            <a class="btn btn-info btn-lt" href="__CONTROLLER__/addMoney">余额充值</a>
        </div>
        <table class="table table-bordered table-hover"  id="table">
            <thead>
            <tr>
                <th style="text-align: center">充值编号</th>
                <th style="text-align: center">用户</th>
                <th style="text-align: center">充值金额</th>
                <th style="text-align: center">剩余金额</th>
                <th style="text-align: center">充值凭证</th>
                <th style="text-align: center">充值状态</th>
                <th style="text-align: center">充值时间</th>
            </tr>
            </thead>
            <tbody>
            <volist name="info" id="vo">
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.user_name}</td>
                    <td>{$vo.chon_price}</td>
                    <td>{$vo.shen_price}</td>
                    <td>
                        <div class="piclist">
                            <volist name="vo.pic" id="pic_one">
                            <span imghref="{$pic_one}" class="onepic">
                            <img src="{$pic_one}" style="width: 50px;" alt="">
                            </span>
                            </volist>
                        </div>

                    </td>
                    <td>{$vo.status}</td>
                    <td>{$vo.c_date}</td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div style="text-align: left">{$page}</div>
    </if>

    <div class="big-img-show">
        <img src="">
    </div>
</block>
<block name="js">
    <script>
        $(function () {
            $(".piclist img").on("click",function(){
                var bigImg = $(this).parent(".onepic").attr("imghref");
                $(".big-img-show").fadeIn();
                $(".big-img-show").find("img").attr("src",bigImg);
            });
            $(".big-img-show").on("click",function(){
                $(this).fadeOut();
            });
            <if condition="$show eq 0">
            laydate({
                elem: '#startTime',
                format: 'YYYY-MM-DD', //日期格式
                event: 'focus'
            });
            laydate({
                elem: '#endTime',
                format: 'YYYY-MM-DD', //日期格式
                event: 'focus'
            });
            </if>
        });

        function checkForm(obj) {
            var s_time = $("#startTime").val();
            var e_time = $("#endTime").val();

            var time1 = new Date(s_time);
            s_time = time1.getTime()/1000;

            var time2 = new Date(e_time);
            e_time = time2.getTime()/1000;
            console.log(s_time);
            console.log(e_time);
            if(isNaN(s_time) && !isNaN(e_time) ){
                toastr.warning('请设置好时间!');
                return false;
            }

            if(!isNaN(s_time) && isNaN(e_time) ){
                toastr.warning('请设置好时间!');
                return false;
            }
            if(s_time > e_time){
                toastr.warning('开始时间要小于结束时间!');
                return false;
            }
            return true;
        }
    </script>
</block>