<extend name="Public/common" />
<block name="body">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>客户信息</h5>
            <div class="ibox-tools" style="display:none;">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">选项1</a>
                    </li>
                    <li><a href="#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div id="toolbar">
                        <php> if(display_menu('/admin/Customer/addMOCustomer')){ </php>
                          <!--  <a class="btn btn-success" data-toggle="modal" data-target="#addCustomer" data-remote="/admin/Customer/addMoCustomer" >
                                新增
                            </a>-->
                            <button id="addform" class="btn btn-success">
                                新增
                            </button>
                        <php> } </php>

                        <php> if(display_menu('/admin/Customer/editCustomer')){ </php>
                            <button id="edit" class="btn btn-primary" disabled>
                                编辑
                            </button>
                        <php> } </php>

                        <php> if(display_menu('/admin/Customer/customerInfo')){ </php>
                        <a id="cusInfo" class="btn btn-primary  J_menuItem" disabled="true" >
                            查看信息
                        </a>
                        <php> } </php>
                        <php> if(display_menu('/admin/Customer/contacts')){ </php>
                        <button id="Contacts" class="btn btn-success" disabled>
                            联系人
                        </button>
                        <php> } </php>
                        <php> if(display_menu('/admin/Customer/allotMoCustomer')){ </php>
                        <button id="Allot" class="btn btn-success" disabled>
                            分配
                        </button>
                        <php> } </php>
                        <php> if(display_menu('/admin/Customer/collectMoCustomer')){ </php>
                        <button id="Collect" class="btn btn-primary" disabled>
                           领取
                        </button>
                        <php> } </php>
                        <button id="Import" class="btn btn-primary">
                            导入
                        </button>

                    </div>
                    <table id="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-columns="true"
                           data-show-export="true"
                           data-minimum-count-columns="5"
                           data-pagination="true"
                           data-id-field="CustomerID"
                           data-sort-name="Sort"
                           data-detail-formatter="detailFormatter"
                           data-click-select = true
                           data-order="asc"
                           data-page-size = "10"
                           data-page-number = "1"
                           data-page-list="[10,20,50,100,ALL]"
                           data-show-footer="false"
                           data-side-pagination="server"
                           data-url="/admin/Customer/loadMoCustomer"
                           data-response-handler="responseHandler">
                    </table>

                </div>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="addCustomer" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        var $table = $('#table'), $edit=$('#edit'); var selections = [];
        var $adc = $('#Contacts');
        var $allot = $('#Allot');
        var $collect = $('#Collect');
        var $Import = $('#Import');
        var $cusInfo = $('#cusInfo');
        var $add = $('#addform');
        function initTable() {
            $table.bootstrapTable({
                height: getHeight(),
                clickToSelect:true,
                formatLoadingMessage:function(){
                    return '正在加载，请稍候...';
                },
                formatShowingRows: function (pageFrom, pageTo, totalRows) {
                    return '第 ' + pageFrom + ' - ' + pageTo + ' 记录，共 ' + totalRows + ' 条记录';
                },
                formatRecordsPerPage:function(pageNumber){
                    return '每页 '+pageNumber + ' 记录';
                },
                //queryParams: queryParams, //参数
                columns: [
                    [
                        //{field: 'Number', title: 'Number', formatter: function (value, row, index) {return index + 1;}},
                        {checkbox: true, align: 'center', valign: 'middle'},
                        //{field: 'Sort',title: '排序', align: 'center', valign: 'middle', sortable: true,},
                        {field: 'LoginName',title: '账号', align: 'center'},
                        {field: 'ShortName', title: '简称', align: 'center'},
                        {field: 'FullName', title: '全称', align: 'left', halign:'center'},
                        {field: 'Identifier', title: '客户编号', align: 'center',sortable: true,},
                        {field: 'CtmStatusName', title: '客户状态', align: 'center'},
                        {field: 'CtmRankName', title: '客户等级', align: 'center'},
                        {field: 'Contacter', title: '联系人', align: 'center'},
                        {field: 'CtmRoleName', title: '联系人角色', align: 'center'},
                        {field: 'DeveloperName', title: '客户归属', align: 'center'},
                        {field: 'Sources', title: '来源', align: 'center'},
                        {field: 'Telephone', title: '电话', align: 'center'},
                        {field: 'Mobile', title: '手机', align: 'center'},
                        {field: 'Email', title: '邮箱', align: 'center'},
                        {field: 'WeChat', title: '微信号', align: 'center'},
                        {field: 'Status', title: '状态', align: 'center'},
                        {field: 'CreateTime', title: '创建时间', align: 'center'},
                    ]
                ]
            });
            // sometimes footer render error.
            setTimeout(function () {
                $table.bootstrapTable('resetView');
            }, 200);
            $table.on('check.bs.table uncheck.bs.table ' +
                    'check-all.bs.table uncheck-all.bs.table', function () {
                $allot.prop('disabled', !$table.bootstrapTable('getSelections').length);
                $collect.prop('disabled', !$table.bootstrapTable('getSelections').length);
                var checkLen = $table.bootstrapTable('getSelections').length;
                if(checkLen == 1){
                    //$edit.attr("data-remote",""+getIdSelections()+'&t=' + Math.random(1000) );
                    $edit.prop('disabled',false);
                    $adc.prop('disabled',false);
                    $cusInfo.attr("href","/admin/Customer/customerInfo?id="+getIdSelections());
                    $cusInfo.removeAttr("disabled");
                }else{
                    //$edit.attr("data-remote","javascript:void(0);");
                    $edit.prop('disabled',true);
                    $adc.prop('disabled',true);
                    $cusInfo.attr("href","");
                    $cusInfo.attr("disabled","");
                }
                selections = getIdSelections();
            });
            $allot.click(function () {
                $("#addCustomer").modal({
                    remote: "/admin/Customer/allotMoCustomer?id=" + getIdSelections()+'&t=' + Math.random(1000)
                });
            });
            $Import.click(function () {
                $("#addCustomer").modal({
                    remote: "/admin/Customer/importMoCustomer?&t=" + Math.random(1000)
                });
            });
            $collect.click(function () {
                var ids = getIdSelections();
                $.post('/admin/Customer/collectMoCustomer',{'ids':ids},function(data){
                    if(data.status ==1){
                        alert(data.info);
                        location.reload();
                    }
                })
            });
            $add.click(function(){
                $("#addCustomer").modal({
                    remote: "/admin/Customer/addMoCustomer"
                    ,backdrop: 'static'
                    ,keyboard: false
                });
            });
            $edit.click(function(){
                $("#addCustomer").modal({
                    remote: "/admin/Customer/editMoCustomer?id=" + getIdSelections()+'&t=' + Math.random(1000)
                    ,backdrop: 'static'
                    ,keyboard: false
                });
            });

            $adc.click(function(){
                $("#addCustomer").modal({
                    remote: "/admin/Customer/contacts?id=" + getIdSelections()+'&t=' + Math.random(1000)
                    ,backdrop: 'static'
                    ,keyboard: false
                });
            });
            $(window).resize(function () {
                $table.bootstrapTable('resetView', {
                    height: getHeight()
                });
            });

        }

        function getIdSelections(param) {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.CustomerID;
            });
        }
        //$("#model").on("hidden.bs.model",function(e){$(this).removeData();});
        $(function () {
            $("#addCustomer").on("hidden.bs.modal", function() {
                $(this).removeData("bs.modal");
                $edit.prop('disabled',true);
                $adc.prop('disabled',true);

                $cusInfo.prop("disabled",true);
                $table.bootstrapTable('refresh', {silent: true});
            });
            eachSeries(getScript, initTable);
        });
    </script>
</block>