<extend name="Public/common" />

<block name="body">
    <style>
        .big-img-show {
            display: none;
            position: absolute;
            top: 278px;
            left: 50%;
            margin: -300px 0 0 -300px;
            width: 600px;
            height: 600px;
            cursor: pointer;
        }
        .big-img-show img{
            width: 600px;
            height: 600px;
        }
        .piclist {
            cursor: pointer;
        }
        .onepic img{
            height: 45px;
            width: 45px;
            cursor: pointer;
        }
    </style>

    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li style="width:100px" class="active"><a href="{:U('bill/torecord')}">等待审核</a></li>
                        <li style="width:100px"><a href="{:U('bill/record')}">已经审核</a></li>
                    </ul>

                    <form action="">
                        <div id="toolbar" style="margin-top: 15px;">
                            <div style="width: 180px;float: left;padding-right: 15px;">
                                <select class="form-control" name="gid">
                                    <option value="0">小组选择</option>
                                    <option value="1">2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div style="width: 180px;float: left;padding-right: 15px;">
                                <input class="form-control" id="startTime" name="startTime"  value="1530022716" type="text" />
                            </div>
                            <div style="width: 180px;float: left;padding-right: 15px;">
                                <input class="form-control" id="endTime" name="endTime"  value="1530022716" type="text" />
                            </div>
                            <div style="width: 180px;float: left;padding-right: 15px;">
                                <button class="btn btn-primary btn-lt">确定</button>
                            </div>
                        </div>
                    </form>

                    <table class="table table-bordered table-hover" style="margin-top: 44px;">
                        <tr>
                            <th style="text-align: center">用户名</th>
                            <th style="text-align: center">属组</th>
                            <th style="text-align: center">充值金额</th>
                            <th style="text-align: center">剩余金额</th>
                            <th style="text-align: center">图片凭证</th>
                            <th style="text-align: center">时间</th>
                            <th style="text-align: center">操作</th>
                            <th style="text-align: center">备注</th>
                        </tr>
                        <foreach name="data" item="onerow">
                            <tr>
                                <td style="text-align: center">{$onerow.id}{$onerow.user_name}</td>
                                <td style="text-align: center">{$onerow.group_name}</td>
                                <td style="text-align: center">{$onerow.chon_price}</td>
                                <td style="text-align: center">{$onerow.shen_price}</td>
                                <td style="text-align: center">
                                    <div class="piclist">
                                    <foreach name="onerow['pic_list']" item="pics">
                                    <span imghref="{$pics}" class="onepic">
                                        <img src="{$pics}" style="width: 50px;height: 50px;border: 1px solid #C6C6C6;background: #ffffff;padding: 1px;"/>
                                    </span>
                                    </foreach>
                                    </div>
                                </td>
                                <td style="text-align: center">{$onerow.c_date|date='Y-m-d H:i:s',###}</td>
                                <td style="text-align: center">
                                    <button class="btn btn-primary btn-sm" url="{:U('bill/billok',array('id'=>$onerow['id'],'state'=>1))}">通过</button>
                                    <button class="btn btn-danger btn-sm" url="{:U('bill/billok',array('id'=>$onerow['id'],'state'=>1))}">失败</button>
                                </td>
                                <td style="text-align: center">
                                    {$onerow.info}
                                </td>
                            </tr>
                        </foreach>
                    </table>
                    <div class="big-img-show">
                        <img src="">
                    </div>
                    <div class="show_page">
                        {$page}
                        <div class="show_other">
                            <span>共充值:{$chon_price}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</block>

<block name="modal">
    <div class="modal fade" id="addCustomer" role="dialog">
        <div class="modal-dialog modal-lt" id="showbox">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function () {
            laydate({
                elem: '#startTime',
                format: 'YYYY-MM-DD', //日期格式
                event: 'focus'
            });
            laydate({
                elem: '#endTime',
                format: 'YYYY-MM-DD', //日期格式
                event: 'focus'
            });
            $(".piclist img").on("click",function(){
                var bigImg = $(this).parent(".onepic").attr("imghref");
                $(".big-img-show").fadeIn();
                $(".big-img-show").find("img").attr("src",bigImg);
            });
            $(".big-img-show").on("click",function(){
                $(this).fadeOut();
            });
        });
    </script>
</block>