<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">修改账单</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" id="defaultForm" method="post" action="{$self}">
        <input type="hidden" name="id" value="{$Think.get.id}" />
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="pass">用户名</label>
                <div class="col-sm-6">
                    <p style="margin-top: 10px">
                        {$billInfo.user_name} - [{$billInfo.group_name}]
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="pass">店铺名</label>
                <div class="col-sm-6">
                    <p style="margin-top: 10px">
                        {$billInfo.shop_name} - [{$billInfo.shop_zg}]
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="jin_price">拿货价</label>
                <div class="col-sm-6">
                    <input class="form-control" id="jin_price" name="jin_price" type="number" value="{$billInfo.jin_price}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="da_price">打包价</label>
                <div class="col-sm-6">
                    <input class="form-control" id="da_price" name="da_price" type="number" value="{$billInfo.da_price}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="mai_price">卖出价</label>
                <div class="col-sm-6">
                    <input class="form-control" id="mai_price" name="da_price" type="number" value="{$billInfo.mai_price}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="shua_price">刷单价</label>
                <div class="col-sm-6">
                    <input class="form-control" id="shua_price" name="da_price" type="number" value="{$billInfo.shua_price}"/>
                </div>
            </div>
        </fieldset>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭</button>
    <button type="button" class="btn btn-primary" id="submit">修改</button>
</div>
<script type="text/javascript">

</script>