<extend name="Public/base" />

<block name="css">
    <style>
        .choose_cat{
            margin-top: 20px;
            margin-left: 100px;
            width: 450px;
            text-align: left;
        }
        .choose_cat .title{
            font-weight: bolder;
            font-size: 22px;
            margin-bottom:65px;
        }
        #uploadifive-btn-upload1 input,#uploadifive-btn-upload2 input,#uploadifive-btn-upload3 input,#uploadifive-btn-upload input{
            cursor: pointer;
        }
        #form_file div{margin-bottom: 10px;}
    </style>
</block>
<block name="content">
    <form id="userForm">
   <div class="choose_cat form-horizonta" style="margin-top: 45px;">
       <empty name="info.id">
           <p style="line-height: 60px;font-size: 22px;margin-left: 13px;font-weight: bolder">添加恶意买家</p>
       <else/>
           <p style="line-height: 60px;font-size: 22px;margin-left: 13px;font-weight: bolder">修改恶意买家</p>
       </empty>
       <div class="form-group">
           <label for="cat_id1" class="col-sm-3 control-label">买家旺旺</label>
           <div class="col-sm-9">
               <input type="text" name="d_ww" class="form-control" value="{$info.d_ww}">
           </div>
       </div><hr class="hr15"/>
       <div class="form-group">
           <label for="cat_id1" class="col-sm-3 control-label">买家名字</label>
           <div class="col-sm-9">
               <input type="text" name="d_name" class="form-control" value="{$info.d_name}">
           </div>
       </div>
       <hr class="hr15"/>
       <div class="form-group">
           <label for="cat_id2" class="col-sm-3 control-label">买家手机</label>
           <div class="col-sm-9">
               <input type="text" name="d_mobile" class="form-control" value="{$info.d_mobile}">
           </div>
       </div>
       <hr class="hr15"/> <div class="form-group">
       <label for="cat_id2" class="col-sm-3 control-label">买家地址</label>
           <div class="col-sm-9">
               <input type="text" name="d_address" class="form-control" value="{$info.d_address}">
           </div>
       </div>
       <hr class="hr15"/>
       <div class="form-group" id="">
           <label for="price" class="col-sm-3 control-label">上传凭证</label>
           <div class="col-sm-9" id="form_file">
               <div>
                   <input type="hidden" id="pic" name="pic[]" value="" />
                   <img src="/Public/no_photo.png" width="100" id="photo_preview" />
                   <input class="upload-btn" type="file" id="btn-upload" style="cursor: pointer">
               </div>
               <div id="up_div2" style="display: none">
                   <input type="hidden" id="pic1" name="pic[]" value="" />
                   <img src="/Public/no_photo.png" width="100" id="photo_preview1" />
                   <input class="upload-btn" type="file" id="btn-upload1" style="cursor: pointer">
               </div>
               <div id="up_div3" style="display: none">
                   <input type="hidden" id="pic2" name="pic[]" value="" />
                   <img src="/Public/no_photo.png" width="100" id="photo_preview2" />
                   <input class="upload-btn" type="file" id="btn-upload2" style="cursor: pointer">
               </div>
           </div>
       </div>
       <hr class="hr15"/>
       <div class="form-group">
           <label for="cat_id2" class="col-sm-3 control-label">备注信息</label>
           <div class="col-sm-9">
               <textarea name="info" class="form-control" id="" cols="30" rows="3">{$info.info}</textarea>
           </div>
       </div>
       <hr class="hr15"/>
       <div class="form-group">
           <label for="" class="col-sm-3 control-label">&nbsp;</label>
           <div class="col-sm-9">
               <input type="hidden" name="id" value="{$info.id}">
               <span class="btn btn-success btn-lt clickUpload">添加更多凭证</span>
               <empty name="info.id">
                   <span class="btn btn-info btn-lt" onclick="checkForm()">确认添加</span>
               <else/>
                   <span class="btn btn-info btn-lt" onclick="checkForm()">确认修改</span>
               </empty>

           </div>
       </div>
   </div>
    </form>
</block>

<block name="js">
    <script type="text/javascript" src='__PUBLIC__/Static/uploadifive/Sample/jquery.uploadifive.min.js'></script>
    <script>

        var i=1;

        $('.clickUpload').click(function(){
            i++;
            if(i>3){
                toastr.warning("最多凭证3张");
                return;
            }
            $("#up_div"+i).show();
        });


        $("#btn-upload").uploadifive({
            height: 25,
            swf: '/Public/Static/uploadify/uploadify.swf',
            uploadScript: "{:U('Admin/File/uploadPicture',array('dir'=>'bill','session_id'=>session_id()))}",
            width: 80,
            buttonClass: "l-btn",
            buttonText: '上传',
            onUploadComplete: function (file, data) {
                data = $.parseJSON(data);
                if (data.errno == 200) {
                    $("#photo_preview").attr("src", data.message);
                    $("#pic").val(data.message);
                }
                else {

                }
            }
        });


        $("#btn-upload1").uploadifive({
            height: 25,
            swf: '/Public/Static/uploadify/uploadify.swf',
            uploadScript: "{:U('Admin/File/uploadPicture',array('dir'=>'bill','session_id'=>session_id()))}",
            width: 80,
            buttonClass: "l-btn",
            buttonText: '上传',
            onUploadComplete: function (file, data) {
                data = $.parseJSON(data);
                if (data.errno == 200) {
                    $("#photo_preview1").attr("src", data.message);
                    $("#pic1").val(data.message);
                }
                else {

                }
            }
        });

        $("#btn-upload2").uploadifive({
            height: 25,
            swf: '/Public/Static/uploadify/uploadify.swf',
            uploadScript: "{:U('Admin/File/uploadPicture',array('dir'=>'bill','session_id'=>session_id()))}",
            width: 80,
            buttonClass: "l-btn",
            buttonText: '上传',
            onUploadComplete: function (file, data) {
                data = $.parseJSON(data);
                if (data.errno == 200) {
                    $("#photo_preview2").attr("src", data.message);
                    $("#pic2").val(data.message);
                }
                else {

                }
            }
        });

        function checkForm() {
            var url = "__CONTROLLER__/add";
            var parme = $("#userForm").serialize();
            $.post(url,parme,function (data) {
                if(data.status == 1){
                    //保存成功
                    swal({
                        title:"保存成功",
                        text:data.info,
                        type:"success"
                    },function(){
                        window.location.href = "__CONTROLLER__/index";
                    });
                }else{
                    toastr.warning(data.info);return false;
                }
            });
        }
    </script>
</block>
