<extend name="Public/base" />
<block name="css">
    <style>
        .big-img-show {
            display: none;
            position: absolute;
            top: 220px;
            left: 50%;
            margin: -250px 0 0 -300px;
            width: 600px;
            height: 600px;
            cursor: pointer;
        }
        .big-img-show img{
            width: 600px;
            height: 600px;
        }
        .piclist {
            cursor: pointer;
        }
        .piclist img{
            border: 1px solid #C6C6C6;background: #ffffff;padding: 1px;
        }
    </style>
</block>

<block name="content">
    <div style="text-align: left;margin-bottom: 10px;margin-top: 10px;overflow: hidden">
        <form method="get" action="__CONTROLLER__/index" >
            <div class="col-sm-4">
                <input type="text" name="search" class="form-control"  placeholder="按买家名,手机,地址查询" value="{$search}">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-info btn-lt">查询</button>
            </div>
            <div class="col-sm-2" style="float: right">
                <a href="__CONTROLLER__/add" class="btn btn-danger btn-lt">添加恶意买家</a>
            </div>
        </form>
    </div>

    <table class="table table-bordered table-hover"  id="table">
        <thead>
        <tr>
            <th style="text-align: center">举报用户</th>
            <th style="text-align: center">恶意买家</th>

            <th style="text-align: center">买家手机</th>
            <th style="text-align: center">买家地址</th>
            <th style="text-align: center">图片凭证</th>
            <th style="text-align: center">时间</th>
            <th style="text-align: center">备注</th>
        </tr>
        </thead>
        <tbody>
        <volist name="info" id="vo">
            <tr>
                <td>{$vo.user_name}</td>
                <td>{$vo.d_name}</td>
                <td>{$vo.d_mobile}</td>
                <td>{$vo.d_address}</td>

                <td>
                    <div class="piclist">
                    <volist name="vo.pic_list" id="pic_one">
                            <span imghref="{$pic_one}" class="onepic">
                            <img src="{$pic_one}" style="width: 50px;height: 50px;" alt="">
                            </span>
                    </volist>
                    </div>
                </td>
                <td>{$vo.c_date|date="Y-m-d H:i:s",###}</td>
                <td>
                    <empty name="vo['info']">
                        暂无
                        <else/>
                        <span class="glyphicon glyphicon-envelope" style="color: #337ab7;cursor: pointer" title="{$vo.info}"></span>
                    </empty>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
    <div style="text-align: left">{$page}</div>
    <div class="big-img-show">
        <img src="">
    </div>
</block>
<block name="js">
    <script>
        $(".piclist img").on("click",function(){
            var bigImg = $(this).parent(".onepic").attr("imghref");
            $(".big-img-show").fadeIn();
            $(".big-img-show").find("img").attr("src",bigImg);
        });
        $(".big-img-show").on("click",function(){
            $(this).fadeOut();
        });
    </script>
</block>