<extend name="Public/common" />
<block name="body">
    <style>
        #uploadifive-btn-upload input{
            cursor: pointer;
        }
        #editor{
            overflow: scroll;
            max-height:300px;
        }
    </style>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>网站设置</h5>
            <div class="ibox-tools" style="display:none;">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">选项1</a>
                    </li>
                    <li><a href="#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lt">
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">网站名字</div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="site_name" id="site_name" value="{$res.site_name}">
                        </div>
                    </div><br/>
                    <div style="overflow: hidden;clear: both">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">网站LOGO</div>
                        <div class="col-sm-4">
                            <input type="hidden" id="pic" name="site_pic" value="{$res.site_pic}" />
                            <img src="{$res.site_pic|default='/Public/no_photo.png'}" width="100" id="photo_preview" />
                            <input class="upload-btn" type="file" id="btn-upload" style="cursor: pointer">
                        </div>
                    </div><br/>
                    <div style="overflow: hidden;clear: both">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">备案号码</div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="beian" id="beian" value="{$res.beian}">
                        </div>
                    </div><br/>
                    <div style="overflow: hidden;clear: both">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">关键词性</div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="keyword" id="keyword" value="{$res.keyword}">
                        </div>
                    </div><br/>
                    <div style="overflow: hidden;clear: both">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">网站简介</div>
                        <div class="col-sm-4">
                            <textarea class="form-control" name="description" id="description" cols="30" rows="3">{$res.description}</textarea>
                        </div>
                    </div><br/>
                <div style="overflow: hidden;clear: both">
                    <div class="col-sm-2 control-label" style="line-height: 26px;">公司地址</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="address" id="address" value="{$res.address}">
                    </div>
                </div><br/>
                <div style="overflow: hidden;clear: both">
                    <div class="col-sm-2 control-label" style="line-height: 26px;">收款账户</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="zhifubao" id="zhifubao" value="{$res.zhifubao}">
                    </div>
                    <div class="col-sm-5 control-label" style="line-height: 26px;color:#e3e3e3;">用于会员充值如:青青之火[qingqing163@zhifubao.com]</div>
                </div><br/>
                <div style="overflow: hidden;clear: both">
                    <div class="col-sm-2 control-label" style="line-height: 26px;">客服电话</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="mobile" id="mobile" value="{$res.mobile}">
                    </div>
                </div><br/>
                <div style="overflow: hidden;clear: both">
                    <div class="col-sm-2 control-label" style="line-height: 26px;">客服QQ</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="qq" id="qq" value="{$res.qq}">
                    </div>
                </div><br/>
                <div style="clear: both">
                    <div class="col-sm-2 control-label" style="line-height: 26px;">关于我们</div>
                    <div class="col-sm-9">
                        <div class="summernote" name="about" placeholder="请写下关于公司的信息" action="">{$res.about}</div>
                    </div>
                </div><br/>
                    <div style="overflow: hidden;clear: both">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">&nbsp;</div>
                        <div class="col-sm-4">
                            <input type="hidden" id="hid_id" name="id" value="{$res.id}">
                            <button class="btn btn-primary btn-lg" id="save_all">保 存</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="addCustomer" role="dialog">
        <div class="modal-dialog modal-lt" id="showbox">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" src='__PUBLIC__/Static/uploadifive/Sample/jquery.uploadifive.min.js'></script>
    <script type="text/javascript">
    $(function () {

        $('div.summernote').each(function() {
            var $this = $(this);
            var placeholder = $this.attr("placeholder") || '';
            var url = $this.attr("action") || '';
            $this.summernote({
                lang : 'zh-CN',
                placeholder : placeholder,
                minHeight : 300,
                dialogsFade : true,// Add fade effect on dialogs
                dialogsInBody : true,// Dialogs can be placed in body, not in
                // summernote.
                disableDragAndDrop : false,// default false You can disable drag
                // and drop
                callbacks: {
                    onImageUpload: function (files) {
                        sendFile($this, files[0]);
                    }
                }
            });
        });

        $("#btn-upload").uploadifive({
            height: 25,
            swf: '/Public/Static/uploadify/uploadify.swf',
            uploadScript: "{:U('File/uploadPicture',array('dir'=>'default','session_id'=>session_id()))}",
            width: 80,
            buttonClass: "l-btn",
            buttonText: '上传',
            onUploadComplete: function (file, data) {
                data = $.parseJSON(data);
                if (data.errno == 200) {
                    $("#photo_preview").attr("src", data.message);
                    $("#pic").val(data.message);
                }
                else {

                }
            }
        });
    });

    //ajax上传图片
    function sendFile($summernote, file) {
        var formData = new FormData();
        formData.append("file", file);
        $.ajax({
            url: "{:U('File/uploadPicture',array('dir'=>'default'))}",//路径是你控制器中上传图片的方法，下面controller里面我会写到
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (data) {
                if (data.errno == 200){
                    $summernote.summernote('insertImage', data.message, function ($image) {
                        $image.attr('src', data.message);
                    });
                }else{
                    toastr.warning(data.message);return false;
                }
            }
        });
    }

    $("#save_all").click(function () {
        var html = $(".summernote").summernote('code');
       var parmes = {};
       parmes.id = $("#hid_id").val();
       parmes.site_name = $("#site_name").val();
       parmes.site_pic = $("#pic").val();
       parmes.beian = $("#beian").val();
       parmes.keyword = $("#keyword").val();
       parmes.address = $("#address").val();
       parmes.zhifubao = $("#zhifubao").val();
       parmes.description = $("#description").val();
       parmes.mobile = $("#mobile").val();
       parmes.qq = $("#qq").val();
       parmes.about = html;
        var url = "__CONTROLLER__/set";

       $.post(url,parmes,function (data) {
           if(data.status == 1){
               swal({
                   title:"成功！",
                   text:data.info,
                   type:"success",
                   timer:1500,
               },function () {
                   window.location.href = "__CONTROLLER__/set";
               });
           }else{
               swal("操作失败！", data.info, "error");return '';
           }
        });
    });
    </script>
</block>