<extend name="Public/common" />
<block name="body">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>添加账单</h5>
            <div class="ibox-tools" style="display:none;">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">选项1</a>
                    </li>
                    <li><a href="#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lt">
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">选择小组</div>
                        <div class="col-sm-4">
                            <select name="gid" id="gid" class="form-control">
                                <option value="">请选择对应小组</option>
                                <foreach name="user_group" item="oneGroup">
                                    <option value="{$oneGroup.id}">{$oneGroup.group_name}</option>
                                </foreach>
                            </select>
                        </div>
                    </div><br/>
                    <div style="overflow: hidden;clear: both">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">选择用户</div>
                        <div class="col-sm-4">
                            <select name="uid" id="uid" class="form-control">
                                <option value="0">请选择对应用户</option>
                            </select>
                        </div>
                    </div><br/>
                    <div style="overflow: hidden;clear: both">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">选择店铺</div>
                        <div class="col-sm-4">
                            <select name="shop_id" id="shop_id" class="form-control">
                                <option value="0">请选择对应店铺</option>
                            </select>
                        </div>
                    </div><br/>
                    <div style="overflow: hidden;clear: both">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">刷单价格</div>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="shua_price" id="shua_price" value="">
                        </div>
                    </div><br/>
                    <div style="overflow: hidden;clear: both">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">备注信息</div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="info" id="info" value="">
                        </div>
                    </div><br/>
                    <div style="overflow: hidden;clear: both">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">&nbsp;</div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary btn-lg" id="add_bill">添 加</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="addCustomer" role="dialog">
        <div class="modal-dialog modal-lt" id="showbox">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
    $("#gid").change(function () {
       var url = "__CONTROLLER__/ajaxUser";
        var gid = $(this).val();
        if(gid == 0){
            $("#uid").html("<option value='0'>前选择对应用户</option>");
            $("#shop_id").html("<option value='0'>前选择对应店铺</option>");
        }else{
            $.post(url,{gid:gid},function (result) {
                if(result.status==1){
                    var item = result.info;
                    var users = item.users;
                    var shops = item.shops;
                    var user_html = '';
                    var shop_html = '';
                    for(var i=0;i<users.length;i++){
                        var the_one = users[i];
                        user_html = user_html + '<option value="'+the_one.id+'">'+the_one.user_name+'</option>';
                    }
                    for(var j=0;j<shops.length;j++){
                        var the_one = shops[j];
                        shop_html = shop_html + '<option value="'+the_one.id+'">'+the_one.shop_name+'</option>';
                    }
                    $("#uid").html(user_html);
                    $("#shop_id").html(shop_html);
                }else{
                    toastr.warning(result.info);return false;
                }
            });
        }
    });

    $("#add_bill").click(function () {
       var parmes = {};
       parmes.gid = $("#gid").val();
       parmes.uid = $("#uid").val();
       parmes.shop_id = $("#shop_id").val();
       parmes.shua_price = $("#shua_price").val();
       parmes.info = $("#info").val();
        var url = "__CONTROLLER__/addBill";

       $.post(url,parmes,function (data) {
           if(data.status == 1){
               swal({
                   title:"成功！",
                   text:data.info,
                   type:"success",
                   showConfirmButton:false,
                   timer:1000,
               });

               $("#info").val(' ');
               $("#shua_price").val(' ');
           }else{
               swal("操作失败！", data.info, "error");return '';
           }
        });
    });
    </script>
</block>