<extend name="Public/base" />


<block name="content">

    <section class="section">
        <div class="section-title">
            <i class="icon-title"></i>
            <h2>平台公告：</h2>
            欢迎有您，我们将竭力为您服务！
        </div>
        <div class="row_box">
            <div class="row_men">
                <div class="row_regin">

                    <include file="Public/meun"/>
                </div>
            </div><!--left菜单-->
            <div class="row_right">
                <div class="input_row">
                    <label class="label_text">用户账号：<input class="input_text" type="text" name="" value="13980829676" placeholder="" readonly="readonly"/></label>
                    <label class="label_text">用户名稱：<input class="input_text" type="text" name="" value="" placeholder=""/></label>
                    <label class="label_text">用戶頭像：<div class="logo_rgi"><img src="__PUBLIC__/Home/img/logo_rgi.png"/></div>
                        <input class="input_file" type="file" name="" value=""/></label>
                    <button type="button" class="btn">保存信息</button>
                </div>
            </div>
        </div>
    </section>

</block>