<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initi0al-scale=1,maximum-scale=1, user-scalable=no">
    <title>京西商城购物html5手机wap商城购物网站模板下载</title>

    <link rel="stylesheet" href="__PUBLIC__/Wap/css/center_bass.css" />
    <link rel="stylesheet" href="__PUBLIC__/Wap/css/center_style.css" />
</head>
<body>
<!-- 个人中心 -->
<article class="user-head">
    <div class="user-bg-img">
        <img src="__PUBLIC__/Wap/picture/user_bg.png">
        <div class="user-img">
            <img src="__PUBLIC__/Wap/picture/user-img0.jpg">
        </div>
    </div>
    <div class="user-order">
        <a href="javascript:;" class="select-btn select-btn-t"><img src="__PUBLIC__/Wap/picture/indent.png">我的报货</a>
    </div>
    <div class="user-nav">
        <a href="index.html">
            <i class="icon icon-f1"></i>
            申请中
        </a>
        <a href="javascript:;">
            <i class="icon icon-f2"></i>
            处理中
        </a>
        <a href="javascript:;">
            <i class="icon icon-f3"></i>
            已调货
        </a>
        <a href="javascript:;">
            <i class="icon icon-f4"></i>
            已发货
        </a>
        <a href="javascript:;">
            <i class="icon icon-f5"></i>
            已关闭
        </a>
    </div>
</article>
<article class="user-list">
    <a href="javascript:;" class="select-btn select-btn-t"><img src="__PUBLIC__/Wap/picture/collct.png">成员查看 <i class="icon icon-select"></i></a>
    <a href="javascript:;" class="select-btn select-btn-t"><img src="__PUBLIC__/Wap/picture/service.png">小组店铺<i class="icon icon-select"></i></a>
    <a href="javascript:;" class="select-btn select-btn-t"><img src="__PUBLIC__/Wap/picture/about.png">退货换货<i class="icon icon-select"></i></a>
    <a href="javascript:;" class="select-btn select-btn-t"><img src="__PUBLIC__/Wap/picture/about.png">小组库存<i class="icon icon-select"></i></a>
    <a href="javascript:;" class="select-btn select-btn-t"><img src="__PUBLIC__/Wap/picture/about.png">资金记录<i class="icon icon-select"></i></a>
    <a href="javascript:;" class="select-btn select-btn-t"><img src="__PUBLIC__/Wap/picture/about.png">借出记录<i class="icon icon-select"></i></a>
    <a href="javascript:;" class="select-btn select-btn-t"><img src="__PUBLIC__/Wap/picture/about.png">退回厂家<i class="icon icon-select"></i></a>
    <a href="javascript:;" class="select-btn select-btn-t"><img src="__PUBLIC__/Wap/picture/about.png">黑名榜单<i class="icon icon-select"></i></a>
    <a href="javascript:;" class="select-btn select-btn-t"><img src="__PUBLIC__/Wap/picture/set.png">账户信息<i class="icon icon-select"></i></a>
</article>
<div style="height: 140px;"></div>
<!-- footer 底部菜单 -->
<footer>
    <a href="/" class="pick">
        <i class="icon icon-f1"></i>
        首页
    </a>
    <a href="community.html">
        <i class="icon icon-f2"></i>
        资讯
    </a>
    <a href="shoppingCart.html">
        <i class="icon icon-f3"></i>
        关于
    </a>
    <a href="/center.html">
        <i class="icon icon-f4"></i>
        我的
    </a>
</footer>
</body>
</html>