<extend name="Public/common" />
<block name="body">
    <style>
        .huoyuan{
            padding: 0px;margin: 0px;
        }
        .huoyuan li{
            padding: 2px;margin: 0px;border: 1px solid #e1e1e8;width: 180px;margin-right: 14px;float: left;
            list-style: none;height: 200px;margin-bottom: 15px;
        }
        .huoyuan li .pic{width: 100%;height: 176px;}
        .huoyuan li .pic img{width: 100%;height: 176px;}
        .huoyuan li .title{width: 100%;height: 20px;
            line-height:20px;font-size: 12px;text-align: left;overflow: hidden}
    </style>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{$user_name}--{$group_name}库存退回:Step2</h5>
            <input type="hidden" id="uid" value="{$uid}">
            <input type="hidden" id="gid" value="{$gid}">
            <div class="ibox-tools" style="display:none;">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">选项1</a>
                    </li>
                    <li><a href="#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lt">
                <div style="height: 50px;">
                    <div style="width: 170px;margin-right: 15px;float: left">
                    <select name="cat_id1" id="cat_id1" class="form-control">
                        <option value="0">选择一级分类</option>
                        <foreach name="cate" item="onecate">
                            <option value="{$onecate.id}" <if condition="$onecate['id'] eq $cat_id1">selected</if> >{$onecate.cat_name}</option>
                        </foreach>
                    </select>
                    </div>
                    <div style="width: 170px;margin-right: 15px;float: left">
                        <select name="cat_id2" id="cat_id2" class="form-control">
                            <option value="0">选择二级分类</option>
                            <foreach name="sonCate" item="twocate">
                                <option value="{$twocate.id}" <if condition="$twocate['id'] eq $cat_id2">selected</if> >{$twocate.cat_name}</option>
                            </foreach>
                        </select>
                    </div>
                    <div style="width: 170px;margin-right: 15px;float: left">
                        <span class="btn btn-info btn-lt" onclick="sureChoose()">确定</span>
                    </div>
                </div>
                <ul class="huoyuan">
                    <foreach name="data" item="oneRow">
                        <li>
                            <div class="pic">
                                <a href="{:U('Baohuo/addBack3',array('ku_id'=>$oneRow['id']))}">
                                    <img src="{$oneRow.pic}"  alt="">
                                </a>
                            </div>
                            <div class="title">
                                {$oneRow.h_name}
                            </div>
                        </li>
                    </foreach>
                </ul>
                <div style="text-align: left;clear: both">{$page}</div>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="addCustomer" role="dialog">
        <div class="modal-dialog modal-lt" id="showbox">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $("#cat_id1").change(function () {
            var cat_id1 = $(this).val();
            if(cat_id1 == 0){
                var html = '<option value="0">选择二级分类</option>';
                $("#cat_id2").html(html);
            }else{
                //异步请求
                var html = '';
                var url = '__CONTROLLER__/getCate';
                $.post(url,{cat_id1:cat_id1},function(message){
                    if(message.length>0){
                        for(var i=0;i<message.length;i++){
                            var item = message[i];
                            html += '<option value="'+item.id+'">'+item.cat_name+'</option>';
                        }
                    }else{
                        html = '<option value="0">暂无二级分类</option>';

                    }
                    $("#cat_id2").html(html);
                });
            }
        });
        function sureChoose() {
            var cat_id1 = $("#cat_id1").val();
            var cat_id2 = $("#cat_id2").val();
            var uid = $("#uid").val();
            var gid = $("#gid").val();
            if(cat_id1 == 0 || cat_id2 == 0){
                var url = "__CONTROLLER__/addBack2/uid/"+uid+"/gid/"+gid;
            }else{
                var url = "__CONTROLLER__/addBack2/uid/"+uid+"/gid/"+gid+"/cat_id1/"+cat_id1+"/cat_id2/"+cat_id2;
            }
            window.location.href = url;
        }
    </script>
</block>