<extend name="Public/common" />
<block name="body">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>添加库存:Step3</h5>
            <div class="ibox-tools" style="display:none;">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">选项1</a>
                    </li>
                    <li><a href="#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lt">
                <form id="formParme">
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">用户属组</div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" disabled value="{$user_name}--{$group_name}">
                        </div>
                    </div>
                    <br/>
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">宝贝主图</div>
                        <div class="col-sm-4">
                            <img src="{$data.pic}" alt="" style="height:60px; ">
                            <input type="hidden" value="{$data.id}" name="huo_id" id="huo_id">
                            <input type="hidden" value="{$data.cat_id1}" name="cat_id1" id="cat_id1">
                            <input type="hidden" value="{$data.cat_id2}" name="cat_id2" id="cat_id2">
                            <input type="hidden" value="{$data.pic}" name="pic" id="pic">
                            <input type="hidden" value="{$uid}" name="uid" id="uid">
                            <input type="hidden" value="{$gid}" name="gid" id="gid">
                        </div>
                    </div>
                    <br/>
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">选择尺码1</div>
                        <div class="col-sm-4">
                            <select  id="cm_size0" class="form-control">
                                <option value="0">选择一级尺码</option>
                                <foreach name="cm_size" item="onecate">
                                    <option value="{$onecate.id}" <if condition="$onecate['id'] eq $parentSize['id']">selected</if>>{$onecate.cm_name}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">选择尺码2</div>
                        <div class="col-sm-4">
                            <select name="cm_id" id="cm_id" class="form-control">
                                <option value="0">选择二级尺码</option>
                                <foreach name="sonSize" item="one_size">
                                    <option value="{$one_size.id}" <if condition="$one_size['id'] eq $baohuo['cm_id']">selected</if>>{$one_size.cm_name}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">库存数量</div>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" id="num" value="{$cuData.num|default=1}" name="num">
                        </div>
                    </div>
                    <br/>
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">进货价格</div>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" value="{$cuData.jin_price}" name="jin_price" id="jin_price">
                        </div>
                    </div>
                    <br/>
                    <div  style="overflow: hidden;clear: both" class="">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">打包费用</div>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" value="{$cuData.da_price}" name="da_price" id="da_price">
                        </div>
                    </div>
                    <br/>
                    <div style="overflow: hidden;clear: both">
                        <div class="col-sm-2 control-label" style="line-height: 26px;">&nbsp;</div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary btn-lg" id="add_kucun" type="button">确认添加</button>
                            <button class="btn btn-default btn-lg" id="go_back" type="button">返回上页</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="addCustomer" role="dialog">
        <div class="modal-dialog modal-lt" id="showbox">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $("#cm_size0").change(function () {
            var cm_id1 = $(this).val();
            if(cm_id1 == 0){
                var html = '<option value="0">选择二级尺码</option>';
                $("#cm_id").html(html);
            }else{
                //异步请求
                var html = '';
                var url = "__CONTROLLER__/getSize";
                $.post(url,{cm_id1:cm_id1},function(message){
                    if(message.length>0){
                        for(var i=0;i<message.length;i++){
                            var item = message[i];
                            html += '<option value="'+item.id+'">'+item.cm_name+'</option>';
                        }
                    }else{
                        html = '<option value="0">暂无二级分类</option>';

                    }
                    $("#cm_id").html(html);
                });
            }
        });

        $("#go_back").click(function () {
           window.history.back();
        });
        $("#add_kucun").click(function () {
            var parme = $("#formParme").serialize();
            var url ="__CONTROLLER__/sureAdd";
            $.post(url,parme,function (data) {
                if(data.status == 1){
                    toastr.success(data.info);
                    setTimeout(function () {
                        window.location.href = "{:U('baohuo/kucun')}";
                    },1500);
                }else{
                    toastr.warning(data.info);
                }
            });
        });
    </script>
</block>