<extend name="Public/common" />
<block name="body">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>退回厂家</h5>
            <div class="ibox-tools" style="display:none;">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#">选项1</a>
                    </li>
                    <li><a href="#">选项2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <form action="__CONTROLLER__/backchanjia" method="get">
                    <div id="toolbar" style="margin-top: 15px;">
                        <div style="width: 180px;float: left;padding-right: 15px;">
                            <input type="text" name="user_name" class="form-control" placeholder="请输入用户全名" value="{$Think.get.user_name}">
                        </div>
                        <div style="width: 90px;float: left;padding-right: 15px;">
                            <button type="submit" class="btn btn-primary btn-lt">确定</button>
                        </div>
                        <div style="width: 180px;float: left;padding-right: 15px;">
                            <a href="__CONTROLLER__/addBack" class="btn btn-success btn-lt" target="iframe0">添加退货</a>
                        </div>
                    </div>
                    </form>
                    <table class="table table-bordered table-hover"  id="table">
                        <tr>
                            <th style="text-align: center">宝贝主图</th>
                            <th style="text-align: center">分类1</th>
                            <th style="text-align: center">分类2</th>
                            <th style="text-align: center">用户</th>
                            <th style="text-align: center">厂家</th>
                            <th style="text-align: center">时间</th>
                            <th style="text-align: center">备注</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                        <foreach name="data" item="onerow">
                        <tr class="row{$onerow.id}">
                            <td style="text-align: center"><img src="{$onerow.pic}" style="width: 45px;height: 45px;"></td>
                            <td style="text-align: center">{$onerow.catname1}</td>
                            <td style="text-align: center">{$onerow.catname2}</td>
                            <td class="" style="text-align: center">
                                {$onerow.username}--[{$onerow.groupname}]
                            </td>
                            <td style="text-align: center">{$onerow.chanjia}</td>
                            <td class="" style="text-align: center">{$onerow.c_date|date="Y-m-d H:i:s",###}</td>
                            <td class=""  style="text-align: center">
                                <empty name="onerow['info']">
                                    暂无备注
                                    <else/>
                                    <span class="glyphicon glyphicon-envelope" style="color: #337ab7;cursor: pointer" title="{$onerow.info}"></span>
                                </empty>
                            </td>
                            <td class="" style="text-align: center">
                                <span class="delOne btn btn-danger btn-lt">删 除</span>
                            </td>
                        </tr>
                        </foreach>
                    </table>

                    <div class="show_page">
                        {$page}
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="modal">
    <div class="modal fade" id="addCustomer" role="dialog">
        <div class="modal-dialog modal-lt" id="showbox">
            <div class="modal-content">

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        var $table = $('#table');
        $(function () {

            $(".delOne").click(function () {
                var id = $(this).attr('ids');
                var url = "__CONTROLLER__/delChan";
                confirmDelete2(url,{id:id},'post',this);
            });

        });


        $(function () {
            $("#addCustomer").on("hidden.bs.modal", function() {
                $(this).removeData("bs.modal");
                $table.bootstrapTable('refresh', {silent: true});
            });
        });
    </script>
</block>